In [1]:
import os
import pandas as pd
import numpy as np
cwd = os.getcwd()
print(cwd)

/home/rraju/recommender_system/debug_notebook_scripts

In [2]:
df = pd.read_csv('../books_recommender/data/bookclub_events.csv', parse_dates=['event_time', 'receipt_time'])

/home/rraju/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2698: DtypeWarning: Columns (9,10,11) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
df.shape

(23644617, 12)

In [12]:
len(df[(df['learner_id'] == 214103.0) & (df['event_name'] == 'audio_close')]['book_code'].unique())

0

In [4]:
dataframe = df
print("No of records : ", len(dataframe))
dataframe = dataframe.drop_duplicates(['row_id'])
print("No of records : ", len(dataframe))

No of records :  23644617
No of records :  23644461

In [5]:
# eliminate books with null id
dataframe = dataframe[dataframe['book_code'].notnull()]
print("Removed books with null id, No of Records : ", len(dataframe))

# eliminate learners with null id
dataframe = dataframe[dataframe['learner_id'].notnull()]
print("Removed learners with null id, No of Records : ", len(dataframe))

#since no of open and close events are unequal, just filter on close events
events_filter = ((dataframe['event_name'] == 'book_close') |\
                 (dataframe['event_name'] == 'video_close') |\
                 (dataframe['event_name'] == 'audio_close'))
dataframe = dataframe[events_filter]
print("After filtering events for close events, No of Records : ", len(dataframe))

Removed books with null id, No of Records :  13507961
Removed learners with null id, No of Records :  13507961
After filtering events for close events, No of Records :  5566611

In [6]:
dataframe.sort_values(by='event_time', inplace=True)

In [15]:
dataframe.groupby('event_name').agg({'learner_id': (lambda x: len(x.unique())),
                                     'book_code' : (lambda x: len(x.unique()))
                                    }).rename(columns={'learner_id' : 'no_of_learners',
                                                       'book_code' : 'no_of_items'
                                                      }).reset_index()

    event_name  no_of_learners  no_of_items
0  audio_close          5845.0          538
1   book_close        230004.0         7070
2  video_close        152881.0         3882

In [57]:
item_type_stats = dataframe.groupby(['learner_id', 'event_name'])\
                           .agg({'book_code' : (lambda x: len(x.unique()))})\
                           .rename(columns={'book_code' : 'no_of_items'})\
                           .reset_index()

In [58]:
total_item_type_stats = item_type_stats.groupby('learner_id')\
                                       .agg({'no_of_items' : np.sum})\
                                       .rename(columns={'no_of_items' : 'total_no_of_items'})\
                                       .reset_index()

In [59]:
learner_item_type_stats = item_type_stats.merge(total_item_type_stats, on='learner_id')

In [60]:
learner_item_type_stats['percentage'] = learner_item_type_stats['no_of_items'] / learner_item_type_stats['total_no_of_items']

In [63]:
import datetime as DT
demograph = pd.read_csv('../books_recommender/data/bc.demographics.csv', 
                        parse_dates=['learner_birthday'])
now = pd.Timestamp(DT.datetime.now())
demograph['dob'] = pd.to_datetime(demograph['learner_birthday'], format='%m%d%y')
demograph['dob'] = demograph['dob'].where(demograph['dob'] < now, demograph['dob'] -  np.timedelta64(100, 'Y'))
demograph['age'] = (now - demograph['dob']).astype('<m8[Y]')

In [64]:
demograph.head()

   learner_id    learner_birthday learner_gender                 dob   age
0    378403.0 2008-03-06 15:00:00         female 2008-03-06 15:00:00   9.0
1    540035.0 2013-11-24 00:00:00           male 2013-11-24 00:00:00   4.0
2    145904.0 2007-09-02 15:00:00           male 2007-09-02 15:00:00  10.0
3    391266.0 2009-07-12 15:00:00         female 2009-07-12 15:00:00   8.0
4    420946.0 2010-03-10 15:00:00           male 2010-03-10 15:00:00   7.0

In [65]:
learner_age_item_type_stats = learner_item_type_stats.merge(demograph, on='learner_id')

In [66]:
learner_age_item_type_stats

,learner_id,event_name,no_of_items,total_no_of_items,percentage,learner_birthday,learner_gender,dob,age
0,5.0,book_close,2,2,1.000000,2003-06-02 15:00:00,female,2003-06-02 15:00:00,14.0
1,31.0,book_close,1,1,1.000000,2005-10-18 15:00:00,male,2005-10-18 15:00:00,12.0
2,41.0,video_close,1,1,1.000000,2005-02-13 15:00:00,female,2005-02-13 15:00:00,12.0
3,61.0,book_close,22,24,0.916667,1999-10-04 15:00:00,female,1999-10-04 15:00:00,18.0
4,61.0,video_close,2,24,0.083333,1999-10-04 15:00:00,female,1999-10-04 15:00:00,18.0
5,181.0,book_close,1,18,0.055556,2005-08-09 15:00:00,male,2005-08-09 15:00:00,12.0
6,181.0,video_close,17,18,0.944444,2005-08-09 15:00:00,male,2005-08-09 15:00:00,12.0
7,322.0,video_close,1,1,1.000000,2004-03-18 15:00:00,male,2004-03-18 15:00:00,13.0
8,456.0,book_close,3,3,1.000000,2005-05-30 15:00:00,male,2005-05-30 15:00:00,12.0
9,521.0,book_close,18,18,1.000000,2010-03-25 15:00:00,female,2010-03-25 15:00:00,7.0
10,529.0,book_close,3,4,0.750000,2000-09-15 15:00:00,female,2000-09-15 15:00:00,17.0
11,529.0,video_close,1,4,0.250000,2000-09-15 15:00:00,female,2000-09-15 15:00:00,17.0
12,579.0,book_close,20,32,0.625000,2000-04-25 15:00:00,male,2000-04-25 15:00:00,17.0
13,579.0,video_close,12,32,0.375000,2000-04-25 15:00:00,male,2000-04-25 15:00:00,17.0
14,603.0,book_close,14,18,0.777778,2003-12-08 15:00:00,female,2003-12-08 15:00:00,14.0
15,603.0,video_close,4,18,0.222222,2003-12-08 15:00:00,female,2003-12-08 15:00:00,14.0
16,656.0,book_close,1,1,1.000000,2005-01-26 15:00:00,male,2005-01-26 15:00:00,12.0
17,703.0,book_close,1,1,1.000000,2005-01-11 15:00:00,female,2005-01-11 15:00:00,12.0
18,730.0,book_close,2,2,1.000000,2005-02-01 15:00:00,female,2005-02-01 15:00:00,12.0
19,734.0,book_close,1,1,1.000000,2005-02-16 15:00:00,female,2005-02-16 15:00:00,12.0
20,750.0,book_close,11,15,0.733333,2003-10-29 15:00:00,female,2003-10-29 15:00:00,14.0
21,750.0,video_close,4,15,0.266667,2003-10-29 15:00:00,female,2003-10-29 15:00:00,14.0
22,827.0,book_close,1,1,1.000000,2003-07-29 15:00:00,female,2003-07-29 15:00:00,14.0
23,842.0,book_close,57,57,1.000000,2005-05-21 15:00:00,female,2005-05-21 15:00:00,12.0
24,849.0,book_close,2,2,1.000000,2003-06-17 15:00:00,male,2003-06-17 15:00:00,14.0
25,874.0,book_close,14,16,0.875000,2007-03-03 15:00:00,male,2007-03-03 15:00:00,10.0
26,874.0,video_close,2,16,0.125000,2007-03-03 15:00:00,male,2007-03-03 15:00:00,10.0
27,918.0,book_close,6,6,1.000000,2005-07-11 15:00:00,female,2005-07-11 15:00:00,12.0
28,931.0,book_close,4,5,0.800000,2005-05-11 15:00:00,male,2005-05-11 15:00:00,12.0
29,931.0,video_close,1,5,0.200000,2005-05-11 15:00:00,male,2005-05-11 15:00:00,12.0
...,...,...,...,...,...,...,...,...,...
135759,665995.0,book_close,1,1,1.000000,2007-11-17 15:00:00,male,2007-11-17 15:00:00,10.0
135760,666003.0,book_close,18,19,0.947368,2009-02-24 15:00:00,male,2009-02-24 15:00:00,8.0
135761,666003.0,video_close,1,19,0.052632,2009-02-24 15:00:00,male,2009-02-24 15:00:00,8.0
135762,666020.0,book_close,2,2,1.000000,2008-08-03 15:00:00,male,2008-08-03 15:00:00,9.0
135763,666027.0,book_close,3,3,1.000000,2011-03-14 15:00:00,female,2011-03-14 15:00:00,6.0
135764,666036.0,book_close,2,2,1.000000,2009-07-22 15:00:00,male,2009-07-22 15:00:00,8.0
135765,666048.0,book_close,1,1,1.000000,2006-12-23 15:00:00,female,2006-12-23 15:00:00,10.0
135766,666051.0,book_close,2,5,0.400000,2009-01-01 15:00:00,male,2009-01-01 15:00:00,8.0
135767,666051.0,video_close,3,5,0.600000,2009-01-01 15:00:00,male,2009-01-01 15:00:00,8.0
135768,666056.0,book_close,4,6,0.666667,2010-11-09 15:00:00,male,2010-11-09 15:00:00,7.0
135769,666056.0,video_close,2,6,0.333333,2010-11-09 15:00:00,male,2010-11-09 15:00:00,7.0
135770,666065.0,book_close,3,3,1.000000,2008-09-28 15:00:00,male,2008-09-28 15:00:00,9.0
135771,666071.0,book_close,5,7,0.714286,2007-08-25 15:00:00,female,2007-08-25 15:00:00,10.0
135772,666071.0,video_close,2,7,0.285714,2007-08-25 15:00:00,female,2007-08-25 15:00:00,10.0
135773,666094.0,book_close,1,1,1.000000,2010-10-24 15:00:00,female,2010-10-24 15:00:00,7.0
135774,666099.0,book_close,4,5,0.800000,2010-06-06 15:00:00,male,2010-06-06 15:00:00,7.0
135775,666099.0,video_close,1,5,0.200000,2010-06-06 15:00:00,male,2010-06-06 15:00:00,7.0
135776,666109.0,book_close,1,1,1.000000,2011-12-23 15:00:00,male,2011-12-23 15:00:00,5.0
135777,666254.0,book_close,1,1,1.000000,2009-12-29 15:00:00,male,2009-12-29 15:00:00,7.0
135778,666260.0,book_close,2,3,0.666667,2009-10-12 15:00:00,female,2009-10-12 15:00:00,8.0
135779,666260.0,video_close,1,3,0.333333,2009-10-12 15:00:00,female,2009-10-12 15:00:00,8.0
135780,666300.0,book_close,4,4,1.000000,2010-07-16 15:00:00,female,2010-07-16 15:00:00,7.0
135781,666349.0,book_close,1,2,0.500000,2007-11-01 15:00:00,female,2007-11-01 15:00:00,10.0
135782,666349.0,video_close,1,2,0.500000,2007-11-01 15:00:00,female,2007-11-01 15:00:00,10.0
135783,666419.0,book_close,4,4,1.000000,2008-07-22 15:00:00,female,2008-07-22 15:00:00,9.0
135784,666490.0,book_close,1,1,1.000000,2009-12-16 15:00:00,female,2009-12-16 15:00:00,8.0
135785,666553.0,book_close,1,1,1.000000,2010-02-09 15:00:00,female,2010-02-09 15:00:00,7.0
135786,666809.0,video_close,3,3,1.000000,2010-04-30 15:00:00,female,2010-04-30 15:00:00,7.0
135787,666893.0,book_close,1,1,1.000000,2010-10-15 15:00:00,male,2010-10-15 15:00:00,7.0
135788,666930.0,book_close,2,2,1.000000,2008-11-13 15:00:00,male,2008-11-13 15:00:00,9.0

In [ ]:
learner_age_item_type_stats

In [70]:
learner_age_item_type_stats[learner_age_item_type_stats['event_name'] == 'book_close']['no_of_items'].describe()

count    86796.000000
mean         5.813067
std          8.060027
min          1.000000
25%          1.000000
50%          3.000000
75%          7.000000
max        328.000000
Name: no_of_items, dtype: float64

In [71]:
learner_age_item_type_stats[learner_age_item_type_stats['event_name'] == 'video_close']['no_of_items'].describe()

count    48163.000000
mean         7.624006
std         12.808795
min          1.000000
25%          1.000000
50%          3.000000
75%          8.000000
max        201.000000
Name: no_of_items, dtype: float64

In [72]:
learner_age_item_type_stats[learner_age_item_type_stats['event_name'] == 'audio_close']['no_of_items'].describe()

count    830.000000
mean      13.178313
std       16.983054
min        1.000000
25%        3.000000
50%        8.000000
75%       15.750000
max      119.000000
Name: no_of_items, dtype: float64

In [31]:
dataframe[(dataframe['learner_id'] == 12.0) & (dataframe['event_name'] == 'book_close')]['book_code'].unique()

array(['BO-20140726013738070', 'BO-20140726014932178',
       'BO-20161026170734904', 'BO-20140726015056775',
       'BO-20150417014720158', 'BO-20140726020007169',
       'BO-20150417044756103', 'BO-20150417014720005',
       'BO-20140726020155449', 'BO-20140726020132287'], dtype=object)

In [64]:
dataframe[(dataframe['learner_id'] == 660902.0) & (dataframe['book_code'] == 'BO-20150420190236662')]

,Unnamed: 0,row_id,trial_time,event_name,event_time,receipt_time,learner_id,session_id,book_code,contents_code,library_source,media_fm
15008542,15008543,000000000007EE2A00000000000A15A60000015E84434A...,1970-01-01,video_close,2017-09-15 06:39:16,2017-09-15 06:48:04,660902.0,002738516120170915153105,BO-20150420190236662,CT-20150420190236662,NaN,NaN
15792104,15792105,000000000007EE2A00000000000A15A60000015E894CE2...,1970-01-01,video_close,2017-09-16 06:07:51,2017-09-16 06:18:07,660902.0,002738516120170916150604,BO-20150420190236662,CT-20150420190236662,NaN,NaN
15814338,15814339,000000000007EE2A00000000000A15A60000015E895825...,1970-01-01,video_close,2017-09-16 06:20:09,2017-09-16 06:28:27,660902.0,002738516120170916151946,BO-20150420190236662,CT-20150420190236662,NaN,NaN
14978866,14978867,000000000007EE2A00000000000A15A60000015E93F4DA...,1970-01-01,video_close,2017-09-18 07:47:31,2017-09-18 07:48:15,660902.0,002738516120170918163242,BO-20150420190236662,CT-20150420190236662,NaN,NaN
13730200,13730201,000000000007EE2A00000000000A15A60000015E951365...,1970-01-01,video_close,2017-09-18 13:00:30,2017-09-18 13:12:53,660902.0,002738516120170918212833,BO-20150420190236662,CT-20150420190236662,NaN,NaN
14571484,14571485,000000000007EE2A00000000000A15A60000015E99B31C...,1970-01-01,video_close,2017-09-19 10:33:26,2017-09-19 10:41:26,660902.0,002738516120170919193116,BO-20150420190236662,CT-20150420190236662,NaN,NaN
14957531,14957532,000000000007EE2A00000000000A15A60000015E99BF75...,1970-01-01,video_close,2017-09-19 10:46:55,2017-09-19 10:55:37,660902.0,002738516120170919193116,BO-20150420190236662,CT-20150420190236662,NaN,NaN
12962634,12962635,000000000007EE2A00000000000A15A60000015E9F5E8F...,1970-01-01,video_close,2017-09-20 12:58:48,2017-09-20 13:05:46,660902.0,002738516120170920215432,BO-20150420190236662,CT-20150420190236662,NaN,NaN
13127826,13127827,000000000007EE2A00000000000A15A60000015E9F5F52...,1970-01-01,video_close,2017-09-20 12:59:38,2017-09-20 13:05:58,660902.0,002738516120170920215432,BO-20150420190236662,CT-20150420190236662,NaN,NaN
13264273,13264274,000000000007EE2A00000000000A15A60000015EA4398E...,1970-01-01,video_close,2017-09-21 11:36:29,2017-09-21 11:45:29,660902.0,002738516120170921202841,BO-20150420190236662,CT-20150420190236662,NaN,NaN
13987369,13987370,000000000007EE2A00000000000A15A60000015EA8B523...,1970-01-01,video_close,2017-09-22 08:29:57,2017-09-22 08:35:54,660902.0,002738516120170922172318,BO-20150420190236662,CT-20150420190236662,NaN,NaN
17037911,17037912,000000000007EE2A00000000000A15A60000015EAE78EC...,1970-01-01,video_close,2017-09-23 11:21:54,2017-09-23 11:30:11,660902.0,002738516120170923201707,BO-20150420190236662,CT-20150420190236662,NaN,NaN
17413939,17413940,000000000007EE2A00000000000A15A60000015EB81DFE...,1970-01-01,video_close,2017-09-25 08:18:47,2017-09-25 08:22:15,660902.0,002738516120170925171802,BO-20150420190236662,CT-20150420190236662,NaN,NaN

In [56]:
learner_books_df = dataframe.groupby(['learner_id', 'book_code'])\
                               .size().reset_index()\
                               .rename(columns={0: 'events_count'})

In [57]:
first_closure_event_df = dataframe.groupby(['learner_id', 'book_code'])['event_time'].min().reset_index().rename(columns={'event_time': 'first_access_time'})

In [58]:
learner_books_df.head()

   learner_id             book_code  events_count
0         5.0  BO-20140726013700796             2
1         5.0  BO-20140726014014719             1
2        12.0  BO-20140726013738070             1
3        12.0  BO-20140726014932178             1
4        12.0  BO-20140726015056775             1

In [52]:
first_closure_event_df[first_closure_event_df['learner_id'] == 268186.0]

         learner_id             book_code   first_access_time
1045558    268186.0  BO-20140726013728499 2017-09-19 07:35:06
1045559    268186.0  BO-20140726014638460 2017-09-14 12:09:25
1045560    268186.0  BO-20140726014719241 2017-09-22 12:03:24
1045561    268186.0  BO-20140726014735858 2017-09-22 11:55:37
1045562    268186.0  BO-20140726015530182 2017-09-19 11:09:00
1045563    268186.0  BO-20140726020215086 2017-09-22 12:24:40
1045564    268186.0  BO-20150417030605438 2017-09-22 06:15:01
1045565    268186.0  BO-20150417044756777 2017-09-19 11:17:32
1045566    268186.0  BO-20150417044757100 2017-09-14 12:09:45
1045567    268186.0  BO-20150728165838280 2017-09-19 11:20:26
1045568    268186.0  BO-20160329135654842 2017-09-22 11:37:24
1045569    268186.0  BO-20170124130856024 2017-09-15 10:12:55
1045570    268186.0  BO-20170221131217981 2017-09-14 12:09:13
1045571    268186.0  BO-20170526154709672 2017-09-19 08:44:57
1045572    268186.0  BO-20170627173817922 2017-09-15 10:09:41
1045573    268186.0  BO-20170821132107208 2017-09-19 07:44:43
1045574    268186.0  BO-20170822164115795 2017-09-19 07:37:22

In [59]:
learner_books_first_closure_df = learner_books_df.merge(first_closure_event_df, on=['learner_id', 'book_code'])
learner_books_first_closure_df.head()

   learner_id             book_code  events_count   first_access_time
0         5.0  BO-20140726013700796             2 2017-09-19 15:37:10
1         5.0  BO-20140726014014719             1 2017-09-16 08:37:19
2        12.0  BO-20140726013738070             1 2017-09-24 08:22:14
3        12.0  BO-20140726014932178             1 2017-09-24 08:25:50
4        12.0  BO-20140726015056775             1 2017-09-26 09:27:27

In [60]:
learner_books_first_closure_df[learner_books_first_closure_df['learner_id'] == 268186.0]

         learner_id             book_code  events_count   first_access_time
1045558    268186.0  BO-20140726013728499            22 2017-09-19 07:35:06
1045559    268186.0  BO-20140726014638460             4 2017-09-14 12:09:25
1045560    268186.0  BO-20140726014719241             1 2017-09-22 12:03:24
1045561    268186.0  BO-20140726014735858             1 2017-09-22 11:55:37
1045562    268186.0  BO-20140726015530182             1 2017-09-19 11:09:00
1045563    268186.0  BO-20140726020215086             1 2017-09-22 12:24:40
1045564    268186.0  BO-20150417030605438             1 2017-09-22 06:15:01
1045565    268186.0  BO-20150417044756777             1 2017-09-19 11:17:32
1045566    268186.0  BO-20150417044757100            10 2017-09-14 12:09:45
1045567    268186.0  BO-20150728165838280             1 2017-09-19 11:20:26
1045568    268186.0  BO-20160329135654842             1 2017-09-22 11:37:24
1045569    268186.0  BO-20170124130856024             5 2017-09-15 10:12:55
1045570    268186.0  BO-20170221131217981             2 2017-09-14 12:09:13
1045571    268186.0  BO-20170526154709672             3 2017-09-19 08:44:57
1045572    268186.0  BO-20170627173817922             3 2017-09-15 10:09:41
1045573    268186.0  BO-20170821132107208             1 2017-09-19 07:44:43
1045574    268186.0  BO-20170822164115795             1 2017-09-19 07:37:22

In [54]:
learner_books_first_closure_df[learner_books_first_closure_df['learner_id'] == 268186.0]

         learner_id             book_code  events_count   first_access_time
1045558    268186.0  BO-20140726013728499            22 2017-09-19 07:35:06
1045559    268186.0  BO-20140726014638460             4 2017-09-14 12:09:25
1045560    268186.0  BO-20140726014719241             1 2017-09-22 12:03:24
1045561    268186.0  BO-20140726014735858             1 2017-09-22 11:55:37
1045562    268186.0  BO-20140726015530182             1 2017-09-19 11:09:00
1045563    268186.0  BO-20140726020215086             1 2017-09-22 12:24:40
1045564    268186.0  BO-20150417030605438             1 2017-09-22 06:15:01
1045565    268186.0  BO-20150417044756777             1 2017-09-19 11:17:32
1045566    268186.0  BO-20150417044757100            10 2017-09-14 12:09:45
1045567    268186.0  BO-20150728165838280             1 2017-09-19 11:20:26
1045568    268186.0  BO-20160329135654842             1 2017-09-22 11:37:24
1045569    268186.0  BO-20170124130856024             5 2017-09-15 10:12:55
1045570    268186.0  BO-20170221131217981             2 2017-09-14 12:09:13
1045571    268186.0  BO-20170526154709672             3 2017-09-19 08:44:57
1045572    268186.0  BO-20170627173817922             3 2017-09-15 10:09:41
1045573    268186.0  BO-20170821132107208             1 2017-09-19 07:44:43
1045574    268186.0  BO-20170822164115795             1 2017-09-19 07:37:22

In [40]:
learner_books_first_closure_df[learner_books_first_closure_df['events_count'] > 5]

         learner_id             book_code  events_count   first_access_time
11             12.0  BO-20160122145947170            32 2017-09-24 08:28:08
55             57.0  BO-20161026171155659            11 2017-09-15 16:20:47
58             57.0  BO-20161026171156321             6 2017-09-15 16:30:26
60             57.0  BO-20161026171156481             9 2017-09-14 12:19:01
115            88.0  BO-20150420190234968            15 2017-09-19 08:17:10
120            88.0  BO-20170724102316479            14 2017-09-19 08:17:58
163           155.0  BO-20141105120156248             6 2017-09-20 11:31:48
243           268.0  BO-20150420190234650             6 2017-09-23 10:52:45
262           268.0  BO-20150420190236152             6 2017-09-24 13:34:39
281           268.0  BO-20170328160019995             7 2017-09-14 00:00:37
291           268.0  BO-20170718174924701             6 2017-09-15 23:25:17
421           468.0  BO-20151216163041175             7 2017-09-21 03:54:01
434           470.0  BO-20160122145947252             6 2017-09-14 10:13:50
468           504.0  BO-20150420190235052             6 2017-09-26 10:15:28
663           632.0  BO-20170627173817922             8 2017-09-14 09:56:56
751           752.0  BO-20161128155716687             6 2017-09-23 02:31:21
1015         1021.0  BO-20140726020115670             7 2017-09-24 08:43:38
1019         1021.0  BO-20150417014719986             7 2017-09-16 00:21:39
1114         1145.0  BO-20140726014849875            15 2017-09-16 02:05:33
1115         1145.0  BO-20140726014850379            22 2017-09-16 01:54:09
1127         1145.0  BO-20141229105403512             8 2017-09-16 01:53:04
1128         1145.0  BO-20150417014719953             6 2017-09-16 01:55:13
1130         1145.0  BO-20150417044756134            15 2017-09-16 01:49:57
1140         1145.0  BO-20170724102316502             7 2017-09-23 01:19:03
1146         1145.0  BO-20170825093227117            40 2017-09-16 01:46:21
1223         1168.0  BO-20151022134530053             6 2017-09-22 03:53:09
1233         1184.0  BO-20150417041515710             7 2017-09-20 12:15:34
1237         1184.0  BO-20160530143321802             6 2017-09-24 09:37:56
1238         1184.0  BO-20160530143321825             6 2017-09-24 09:24:59
1587         1766.0  BO-20170627172442571             6 2017-09-24 08:19:55
...             ...                   ...           ...                 ...
3016275    665721.0  BO-20150417020356603            10 2017-09-25 23:45:58
3016276    665721.0  BO-20150417020356606            10 2017-09-25 23:36:32
3016277    665721.0  BO-20150417020356610             9 2017-09-25 23:31:17
3016278    665721.0  BO-20150417020356613             9 2017-09-25 23:29:21
3016279    665721.0  BO-20150417020356616             9 2017-09-25 23:33:59
3016280    665721.0  BO-20150417020356619             8 2017-09-25 23:46:51
3016281    665721.0  BO-20150417020356622             9 2017-09-25 23:48:13
3016282    665721.0  BO-20150417020356624             9 2017-09-25 23:35:54
3016283    665721.0  BO-20150417020356628            10 2017-09-25 23:39:36
3016473    665751.0  BO-20140726014917063             8 2017-09-25 11:00:15
3016558    665777.0  BO-20150417030603904             9 2017-09-26 14:54:16
3016581    665798.0  BO-20140726020154945             7 2017-09-26 12:49:39
3016625    665841.0  BO-20160921172154765            11 2017-09-26 11:19:02
3016726    665924.0  BO-20170627173817926            10 2017-09-26 00:31:57
3016870    666110.0  BO-20170627173817926             7 2017-09-26 12:08:32
3016887    666178.0  BO-20161026170734904             8 2017-09-26 06:25:51
3016933    666212.0  BO-20140726015804783             6 2017-09-26 12:03:55
3016937    666212.0  BO-20170627173817926             8 2017-09-26 11:47:51
3016938    666212.0  BO-20170821132107208            11 2017-09-26 08:38:40
3016947    666227.0  BO-20170821132107208             8 2017-09-26 13:10:40
3016958    666235.0  BO-20150417044756761             7 2017-09-26 11:57:46
3017026    666300.0  BO-20161026170734962            16 2017-09-26 08:16:29
3017042    666335.0  BO-20170627173622446            16 2017-09-26 09:37:40
3017061    666362.0  BO-20170627173817926            10 2017-09-26 10:50:30
3017117    666456.0  BO-20170627173817926            14 2017-09-26 09:19:47
3017135    666490.0  BO-20170627173448390             6 2017-09-26 10:41:32
3017167    666506.0  BO-20170627173817926             8 2017-09-26 12:51:28
3017205    666534.0  BO-20170627173817926             7 2017-09-26 05:11:55
3017279    666854.0  BO-20160621113027809            11 2017-09-26 13:52:34
3017281    666886.0  BO-20170627173817926             9 2017-09-26 10:46:46

[115529 rows x 4 columns]

In [42]:
#666701.0	BO-20170627173817926
#dataframe[(dataframe['learner_id'] == 666701.0) & (dataframe['book_code'] == 'BO-20170627173817926')]['event_time']#.min()
#57.0	BO-20161026171156481
dataframe[(dataframe['learner_id'] == 57.0) & (dataframe['book_code'] == 'BO-20161026171156481')]

,Unnamed: 0,row_id,trial_time,event_name,event_time,receipt_time,learner_id,session_id,book_code,contents_code,library_source,media_fm
15801365,15801366,00000000000206DB00000000000000390000015E8053FB...,1970-01-01,video_close,2017-09-14 12:19:01,2017-09-14 12:29:06,57.0,002011663220170914211152,BO-20161026171156481,NaN,NaN,NaN
15649224,15649225,00000000000206DB00000000000000390000015E80589E...,1970-01-01,video_close,2017-09-14 12:24:05,2017-09-14 12:34:00,57.0,002011663220170914212336,BO-20161026171156481,NaN,NaN,NaN
15263390,15263391,00000000000206DB00000000000000390000015E866962...,1970-01-01,video_close,2017-09-15 16:40:07,2017-09-15 16:52:41,57.0,002011663220170916002016,BO-20161026171156481,NaN,NaN,NaN
13229857,13229858,00000000000206DB00000000000000390000015E9FBAC4...,1970-01-01,video_close,2017-09-20 14:39:31,2017-09-20 14:45:06,57.0,002011663220170920230646,BO-20161026171156481,NaN,NaN,NaN
13149803,13149804,00000000000206DB00000000000000390000015EA047B6...,1970-01-01,video_close,2017-09-20 17:13:28,2017-09-20 17:19:50,57.0,002011663220170920230646,BO-20161026171156481,NaN,NaN,NaN
13278807,13278808,00000000000206DB00000000000000390000015EA4BC85...,1970-01-01,video_close,2017-09-21 13:59:32,2017-09-21 14:05:12,57.0,002011663220170921224721,BO-20161026171156481,NaN,NaN,NaN
16879169,16879170,00000000000206DB00000000000000390000015EB44475...,1970-01-01,video_close,2017-09-24 14:22:19,2017-09-24 14:30:12,57.0,002011663220170924231639,BO-20161026171156481,NaN,NaN,NaN
16879182,16879183,00000000000206DB00000000000000390000015EB4459E...,1970-01-01,video_close,2017-09-24 14:23:35,2017-09-24 14:30:15,57.0,002011663220170924231639,BO-20161026171156481,NaN,NaN,NaN
17647971,17647972,00000000000206DB00000000000000390000015EB445EC...,1970-01-01,video_close,2017-09-24 14:23:55,2017-09-24 14:30:16,57.0,002011663220170924231639,BO-20161026171156481,NaN,NaN,NaN

In [29]:
dataframe[(dataframe['learner_id'] == 12.0) & (dataframe['book_code'] == 'BO-20160122145947170')]#.sort_values(by='event_time')

,Unnamed: 0,row_id,trial_time,event_name,event_time,receipt_time,learner_id,session_id,book_code,contents_code,library_source,media_fm
17397510,17397511,000000000001F005000000000000000C0000015EB30031...,1970-01-01,video_close,2017-09-24 08:28:08,2017-09-24 08:35:22,12.0,002009714920170924172355,BO-20160122145947170,NaN,NaN,NaN
17397597,17397598,000000000001F005000000000000000C0000015EB30166...,1970-01-01,video_close,2017-09-24 08:29:27,2017-09-24 08:35:34,12.0,002009714920170924172355,BO-20160122145947170,NaN,NaN,NaN
16718388,16718389,000000000001F005000000000000000C0000015EB3024C...,1970-01-01,video_close,2017-09-24 08:30:26,2017-09-24 08:40:03,12.0,002009714920170924172355,BO-20160122145947170,NaN,NaN,NaN
16751392,16751393,000000000001F005000000000000000C0000015EB302B6...,1970-01-01,video_close,2017-09-24 08:30:53,2017-09-24 08:40:09,12.0,002009714920170924172355,BO-20160122145947170,NaN,NaN,NaN
17397733,17397734,000000000001F005000000000000000C0000015EB30304...,1970-01-01,video_close,2017-09-24 08:31:13,2017-09-24 08:40:09,12.0,002009714920170924172355,BO-20160122145947170,NaN,NaN,NaN
17123611,17123612,000000000001F005000000000000000C0000015EB3052F...,1970-01-01,video_close,2017-09-24 08:33:35,2017-09-24 08:40:32,12.0,002009714920170924172355,BO-20160122145947170,NaN,NaN,NaN
17397968,17397969,000000000001F005000000000000000C0000015EB305E6...,1970-01-01,video_close,2017-09-24 08:34:22,2017-09-24 08:40:40,12.0,002009714920170924172355,BO-20160122145947170,NaN,NaN,NaN
16718710,16718711,000000000001F005000000000000000C0000015EB3073A...,1970-01-01,video_close,2017-09-24 08:35:49,2017-09-24 08:45:07,12.0,002009714920170924172355,BO-20160122145947170,NaN,NaN,NaN
16718711,16718712,000000000001F005000000000000000C0000015EB3073E...,1970-01-01,video_close,2017-09-24 08:35:50,2017-09-24 08:45:07,12.0,002009714920170924172355,BO-20160122145947170,NaN,NaN,NaN
16751736,16751737,000000000001F005000000000000000C0000015EB3087E...,1970-01-01,video_close,2017-09-24 08:37:12,2017-09-24 08:45:18,12.0,002009714920170924172355,BO-20160122145947170,NaN,NaN,NaN
17398130,17398131,000000000001F005000000000000000C0000015EB308D4...,1970-01-01,video_close,2017-09-24 08:37:34,2017-09-24 08:45:23,12.0,002009714920170924172355,BO-20160122145947170,NaN,NaN,NaN
16718878,16718879,000000000001F005000000000000000C0000015EB3097C...,1970-01-01,video_close,2017-09-24 08:38:17,2017-09-24 08:45:28,12.0,002009714920170924172355,BO-20160122145947170,NaN,NaN,NaN
16672370,16672371,000000000001F005000000000000000C0000015EB30A15...,1970-01-01,video_close,2017-09-24 08:38:56,2017-09-24 08:45:33,12.0,002009714920170924172355,BO-20160122145947170,NaN,NaN,NaN
16751911,16751912,000000000001F005000000000000000C0000015EB30AB1...,1970-01-01,video_close,2017-09-24 08:39:36,2017-09-24 08:45:37,12.0,002009714920170924172355,BO-20160122145947170,NaN,NaN,NaN
17144399,17144400,000000000001F005000000000000000C0000015EB30B49...,1970-01-01,video_close,2017-09-24 08:40:15,2017-09-24 08:49:58,12.0,002009714920170924172355,BO-20160122145947170,NaN,NaN,NaN
17398325,17398326,000000000001F005000000000000000C0000015EB30BE1...,1970-01-01,video_close,2017-09-24 08:40:54,2017-09-24 08:50:05,12.0,002009714920170924172355,BO-20160122145947170,NaN,NaN,NaN
16673757,16673758,000000000001F005000000000000000C0000015EB30CB0...,1970-01-01,video_close,2017-09-24 08:41:47,2017-09-24 08:50:11,12.0,002009714920170924172355,BO-20160122145947170,NaN,NaN,NaN
17505471,17505472,000000000001F005000000000000000C0000015EB30D49...,1970-01-01,video_close,2017-09-24 08:42:26,2017-09-24 08:50:16,12.0,002009714920170924172355,BO-20160122145947170,NaN,NaN,NaN
17144553,17144554,000000000001F005000000000000000C0000015EB30DE1...,1970-01-01,video_close,2017-09-24 08:43:05,2017-09-24 08:50:20,12.0,002009714920170924172355,BO-20160122145947170,NaN,NaN,NaN
16752086,16752087,000000000001F005000000000000000C0000015EB30E6A...,1970-01-01,video_close,2017-09-24 08:43:40,2017-09-24 08:50:23,12.0,002009714920170924172355,BO-20160122145947170,NaN,NaN,NaN
17144558,17144559,000000000001F005000000000000000C0000015EB30E72...,1970-01-01,video_close,2017-09-24 08:43:42,2017-09-24 08:50:23,12.0,002009714920170924172355,BO-20160122145947170,NaN,NaN,NaN
16752088,16752089,000000000001F005000000000000000C0000015EB30E85...,1970-01-01,video_close,2017-09-24 08:43:47,2017-09-24 08:50:24,12.0,002009714920170924172355,BO-20160122145947170,NaN,NaN,NaN
17144559,17144560,000000000001F005000000000000000C0000015EB30E8D...,1970-01-01,video_close,2017-09-24 08:43:49,2017-09-24 08:50:24,12.0,002009714920170924172355,BO-20160122145947170,NaN,NaN,NaN
17144593,17144594,000000000001F005000000000000000C0000015EB30EBC...,1970-01-01,video_close,2017-09-24 08:44:01,2017-09-24 08:50:27,12.0,002009714920170924172355,BO-20160122145947170,NaN,NaN,NaN
16674188,16674189,000000000001F005000000000000000C0000015EB30ED3...,1970-01-01,video_close,2017-09-24 08:44:07,2017-09-24 08:50:27,12.0,002009714920170924172355,BO-20160122145947170,NaN,NaN,NaN
16674189,16674190,000000000001F005000000000000000C0000015EB30EE7...,1970-01-01,video_close,2017-09-24 08:44:12,2017-09-24 08:50:27,12.0,002009714920170924172355,BO-20160122145947170,NaN,NaN,NaN
16674190,16674191,000000000001F005000000000000000C0000015EB30EFA...,1970-01-01,video_close,2017-09-24 08:44:17,2017-09-24 08:50:27,12.0,002009714920170924172355,BO-20160122145947170,NaN,NaN,NaN
17505543,17505544,000000000001F005000000000000000C0000015EB30F0A...,1970-01-01,video_close,2017-09-24 08:44:21,2017-09-24 08:50:27,12.0,002009714920170924172355,BO-20160122145947170,NaN,NaN,NaN
16719177,16719178,000000000001F005000000000000000C0000015EB30F9B...,1970-01-01,video_close,2017-09-24 08:44:58,2017-09-24 08:50:31,12.0,002009714920170924172355,BO-20160122145947170,NaN,NaN,NaN
17398625,17398626,000000000001F005000000000000000C0000015EB31033...,1970-01-01,video_close,2017-09-24 08:45:37,2017-09-24 08:55:02,12.0,002009714920170924172355,BO-20160122145947170,NaN,NaN,NaN
16675399,16675400,000000000001F005000000000000000C0000015EB310CB...,1970-01-01,video_close,2017-09-24 08:46:16,2017-09-24 08:55:15,12.0,002009714920170924172355,BO-20160122145947170,NaN,NaN,NaN
16766421,16766422,000000000001F005000000000000000C0000015EB310E7...,1970-01-01,video_close,2017-09-24 08:46:23,2017-09-24 08:55:15,12.0,002009714920170924172355,BO-20160122145947170,NaN,NaN,NaN

In [19]:
temp = dataframe.groupby(['learner_id', 'book_code'])['event_time'].min().reset_index()
temp.head()

   learner_id             book_code          event_time
0         5.0  BO-20140726013700796 2017-09-19 15:37:10
1         5.0  BO-20140726014014719 2017-09-16 08:37:19
2        12.0  BO-20140726013738070 2017-09-24 08:22:14
3        12.0  BO-20140726014932178 2017-09-24 08:25:50
4        12.0  BO-20140726015056775 2017-09-26 09:27:27

In [21]:
temp[(temp['learner_id'] == 666701.0) & (temp['book_code'] == 'BO-20170627173817926')]
#12.0	BO-20160122145947170
temp[(temp['learner_id'] == 12.0) & (temp['book_code'] == 'BO-20160122145947170')]

    learner_id             book_code          event_time
11        12.0  BO-20160122145947170 2017-09-24 08:28:08

In [25]:
temp2 = temp.groupby(['learner_id', 'book_code']).size().reset_index()
temp2.head()

   learner_id             book_code  0
0         5.0  BO-20140726013700796  1
1         5.0  BO-20140726014014719  1
2        12.0  BO-20140726013738070  1
3        12.0  BO-20140726014932178  1
4        12.0  BO-20140726015056775  1

In [26]:
temp2[(temp2['learner_id'] == 12.0) & (temp2['book_code'] == 'BO-20160122145947170')]

    learner_id             book_code  0
11        12.0  BO-20160122145947170  1

In [10]:
dataframe.groupby(['learner_id', 'book_code']).size().reset_index()

         learner_id             book_code   0
0               5.0  BO-20140726013700796   2
1               5.0  BO-20140726014014719   1
2              12.0  BO-20140726013738070   1
3              12.0  BO-20140726014932178   1
4              12.0  BO-20140726015056775   1
5              12.0  BO-20140726020007169   1
6              12.0  BO-20140726020132287   1
7              12.0  BO-20140726020155449   1
8              12.0  BO-20150417014720005   1
9              12.0  BO-20150417014720158   1
10             12.0  BO-20150417044756103   1
11             12.0  BO-20160122145947170  32
12             12.0  BO-20160122145947197   1
13             12.0  BO-20161026170734904   1
14             12.0  BO-20170718174924596   1
15             12.0  BO-20170721152203601   2
16             12.0  BO-20170821132107257   1
17             12.0  BO-20170823174451695   2
18             12.0  BO-20170823174451702   2
19             17.0  BO-20150420190236662   1
20             17.0  BO-20161026170734661   1
21             17.0  BO-20170124130856024   1
22             17.0  BO-20170224150632116   2
23             17.0  BO-20170526161954135   2
24             17.0  BO-20170526161954140   1
25             17.0  BO-20170526161954146   2
26             17.0  BO-20170526161954187   2
27             17.0  BO-20170526161954211   1
28             31.0  BO-20161128155737057   1
29             41.0  BO-20170821132107285   1
...             ...                   ...  ..
3017265    666701.0  BO-20140726015057279   1
3017266    666701.0  BO-20150417014719992   1
3017267    666701.0  BO-20150417044756103   1
3017268    666701.0  BO-20161026170734904   1
3017269    666701.0  BO-20170627173817926   4
3017270    666701.0  BO-20170825093227112   2
3017271    666703.0  BO-20150417030605412   1
3017272    666703.0  BO-20170821132106946   1
3017273    666710.0  BO-20140726020132287   3
3017274    666809.0  BO-20170821132107257   2
3017275    666809.0  BO-20170823174451695   1
3017276    666809.0  BO-20170823174451698   1
3017277    666854.0  BO-20141030210040223   4
3017278    666854.0  BO-20160621113027500   2
3017279    666854.0  BO-20160621113027809  11
3017280    666886.0  BO-20140726013554810   3
3017281    666886.0  BO-20170627173817926   9
3017282    666886.0  BO-20170821132106920   2
3017283    666886.0  BO-20170821132106923   1
3017284    666886.0  BO-20170821132107208   1
3017285    666886.0  BO-20170825093227112   1
3017286    666888.0  BO-20140726015057279   1
3017287    666888.0  BO-20140726015521623   1
3017288    666888.0  BO-20150417014719940   2
3017289    666888.0  BO-20150417014719992   1
3017290    666888.0  BO-20170627173817926   1
3017291    666893.0  BO-20140726014750459   1
3017292    666897.0  BO-20170627173817926   1
3017293    666930.0  BO-20150417044757166   1
3017294    666930.0  BO-20150428174202912   1

[3017295 rows x 3 columns]

In [6]:
df.columns

Index(['Unnamed: 0', 'row_id', 'trial_time', 'event_name', 'event_time',
       'receipt_time', 'learner_id', 'session_id', 'book_code',
       'contents_code', 'library_source', 'media_fm'],
      dtype='object')

In [54]:
df['book_code'].describe()

count                 13508060
unique                   11557
top       BO-20170627173817922
freq                    512221
Name: book_code, dtype: object

In [55]:
df['learner_id'].describe()

count    2.364462e+07
mean     3.824910e+05
std      1.815107e+05
min      5.000000e+00
25%      2.348240e+05
50%      4.041670e+05
75%      5.137780e+05
max      6.669300e+05
Name: learner_id, dtype: float64

In [8]:
len(df)

23644617

In [10]:
len(df['row_id'].unique())

23644461

In [12]:
df['row_id'].describe()

count                                              23644617
unique                                             23644461
top       000000000004E4230000000000066B940000015E82461A...
freq                                                      4
Name: row_id, dtype: object

In [13]:
res = df['row_id'].value_counts()
print(res)

000000000004E4230000000000066B940000015E82461A90000000000000015E824EF021    4
000000000006FCAA000000000007CAFF0000015E8247DFB0000000000000015E824EF1EA    4
000000000006903A00000000000766490000015E59538F50000000000000015E824EF039    4
000000000005371D0000000000068B1F0000015E82461A90000000000000015E824EF02F    4
000000000006FCAA000000000007CAFF0000015E82462648000000000000015E824EF041    4
000000000006DBB8000000000007B4520000015E824612C0000000000000015E824EF02D    4
00000000000271B6000000000001B7E70000015E8247ACE8000000000000015E824EF1B5    4
000000000001593E00000000000339290000015E82467850000000000000015E824EF0B5    4
000000000006FCAA000000000007CAFF0000015E8247D3F8000000000000015E824EF1DE    4
000000000006903A00000000000766490000015E64B3C6A8000000000000015E824EF193    4
00000000000765B100000000000735E40000015E8246ED80000000000000015E824EF112    4
000000000001593E00000000000339290000015E82467850000000000000015E824EF0BB    4
000000000002AEFE000000000000C5130000015E8246D228000000000000015E824EF0E7    4
000000000006903A00000000000766490000015E5953A2D8000000000000015E824EF05C    4
000000000006715B0000000000082C940000015E8246CE40000000000000015E824EF101    4
000000000006903A00000000000766490000015E60F64978000000000000015E824EF130    4
000000000006903A00000000000766490000015E5953D988000000000000015E824EF07E    4
000000000006903A00000000000766490000015E5953C600000000000000015E824EF068    4
00000000000766EE00000000000820300000015E82468FC0000000000000015E824EF0AE    4
000000000006903A00000000000766490000015E5953C600000000000000015E824EF060    4
00000000000766EE00000000000820300000015E82468408000000000000015E824EF09A    4
000000000002C46800000000000201390000015EA2D20F08000000000000015EA55D1610    4
000000000006903A00000000000766490000015E64B3C6A8000000000000015E824EF197    4
0000000000010BD5000000000002B8D70000015E82474758000000000000015E824EF172    4
000000000007A943000000000009B7CC0000015E82479D48000000000000015E824EF1AF    4
000000000006715B0000000000082C940000015E8246CE40000000000000015E824EF0F9    4
000000000001593E00000000000339290000015E82467850000000000000015E824EF0BF    4
000000000003D85F00000000000410DA0000015E8246F168000000000000015E824EF110    4
000000000006903A00000000000766490000015E6120D030000000000000015E824EF141    4
000000000000F0920000000000061AC40000015E8247C840000000000000015E824EF1D2    4
                                                                           ..
000000000006EA73000000000007A9C40000015EA96E22E8000000000000015EA975CD60    1
0000000000045D8C0000000000060B3E0000015E8FCBDD80000000000000015E8FD48DA6    1
000000000007B868000000000009CE340000015E8D898AB8000000000000015E8D934FC6    1
00000000000528B600000000000685270000015E99D097D0000000000000015E99D950B2    1
0000000000053BD200000000000446B50000015EBE9F75B8000000000000015EBEA2C3CD    1
00000000000179370000000000090A670000015E8A5EA0F8000000000000015E8A6983DE    1
000000000007B076000000000009BC8A0000015E8890D250000000000000015E889B0CBC    1
000000000007C388000000000009DD5A0000015EA4861038000000000000015EA48B8C3D    1
000000000004D6FC0000000000064B2D0000015E8D5D98B8000000000000015E8D65F210    1
00000000000674670000000000076F570000015E8F93B680000000000000015E8F9D5D3D    1
000000000002F24C0000000000052DAD0000015EB86F5A78000000000000015EB8736ABE    1
00000000000544AA00000000000681F30000015EBB698F78000000000000015EBB6B2DA8    1
000000000006F497000000000007F92A0000015EB8BFC468000000000000015EB8C53DE7    1
000000000005ABC20000000000088CAE0000015E9F0B6E00000000000000015E9F12C0EC    1
0000000000073969000000000007F8440000015EA27748C0000000000000015EA27C397D    1
000000000003CB8500000000000588270000015EB8B15130000000000000015EB8B4E3F8    1
0000000000012AC100000000000185860000015E88B16DF8000000000000015E88BAE1A3    1
000000000001E1280000000000058BD60000015EBDD25218000000000000015EBDD63044    1
000000000007AC7E000000000009D0A50000015E8DF09988000000000000015E8DF354B3    1
000000000005F96D0000000000013B0B0000015E8FD766A0000000000000015E8FD89B2F    1
000000000000D7470000000000033AD90000015E9EF3B3C8000000000000015E9EFB8C4D    1
00000000000759A2000000000008260F0000015EB2B409A8000000000000015EB2B925A4    1
000000000006BB1E000000000007A36E0000015E805B55D8000000000000015E8065BC22    1
000000000007EDA100000000000A155C0000015E9E94D6A0000000000000015E9E9BB481    1
000000000006D61A000000000007C7A30000015E9EB37A60000000000000015E9EBB680B    1
000000000007AC2F000000000009B9D10000015E9E7DFEF8000000000000015E9E84D75A    1
000000000005CBE10000000000030EE20000015EAA26E3C8000000000000015EAA2CA194    1
000000000007F52400000000000A218B0000015EB12AD968000000000000015EB13388A2    1
000000000002A24D000000000004FD8C0000015EB2C53FE8000000000000015EB2CB6E33    1
000000000007751D000000000008DB000000015E7D7139F0000000000000015E82A1E2BA    1
Name: row_id, Length: 23644461, dtype: int64

In [14]:
df[df['row_id'] == '000000000004E4230000000000066B940000015E82461A90000000000000015E824EF021']

,Unnamed: 0,row_id,trial_time,event_name,event_time,receipt_time,learner_id,session_id,book_code,contents_code,library_source,media_fm
18968667,18968668,000000000004E4230000000000066B940000015E82461A...,1970-01-01,video_first_open,2017-09-14 21:23:06,2017-09-14 21:32:44,420756.0,002686229820170915061936,BO-20170821132107586,CT-20170821132107586,TL,MP4
18968668,18968669,000000000004E4230000000000066B940000015E82461A...,1970-01-01,video_first_open,2017-09-14 21:23:06,2017-09-14 21:32:44,420756.0,002686229820170915061936,BO-20170821132107586,CT-20170821132107586,TL,MP4
18968709,18968710,000000000004E4230000000000066B940000015E82461A...,1970-01-01,video_first_open,2017-09-14 21:23:06,2017-09-14 21:32:44,420756.0,002686229820170915061936,BO-20170821132107586,CT-20170821132107586,TL,MP4
18968710,18968711,000000000004E4230000000000066B940000015E82461A...,1970-01-01,video_first_open,2017-09-14 21:23:06,2017-09-14 21:32:44,420756.0,002686229820170915061936,BO-20170821132107586,CT-20170821132107586,TL,MP4

In [16]:
df[df['row_id'] == '000000000006903A00000000000766490000015E64B3C6A8000000000000015E824EF197']

,Unnamed: 0,row_id,trial_time,event_name,event_time,receipt_time,learner_id,session_id,book_code,contents_code,library_source,media_fm
10708216,10708217,000000000006903A00000000000766490000015E64B3C6...,1970-01-01,book_open,2017-09-09 03:34:17,2017-09-14 21:32:45,484937.0,002708098220170915062432,BO-20140726014638460,CT-20140726014638460,TBE,PDFA
10708217,10708218,000000000006903A00000000000766490000015E64B3C6...,1970-01-01,book_open,2017-09-09 03:34:17,2017-09-14 21:32:45,484937.0,002708098220170915062432,BO-20140726014638460,CT-20140726014638460,TBE,PDFA
10708241,10708242,000000000006903A00000000000766490000015E64B3C6...,1970-01-01,book_open,2017-09-09 03:34:17,2017-09-14 21:32:45,484937.0,002708098220170915062432,BO-20140726014638460,CT-20140726014638460,TBE,PDFA
10708242,10708243,000000000006903A00000000000766490000015E64B3C6...,1970-01-01,book_open,2017-09-09 03:34:17,2017-09-14 21:32:45,484937.0,002708098220170915062432,BO-20140726014638460,CT-20140726014638460,TBE,PDFA

In [17]:
len(df['trial_time'].unique())

1

In [18]:
len(df['event_name'].unique())

10

In [20]:
df['event_name'].unique()

array(['audio_close', 'audio_open', 'audio_first_open', 'book_close',
       'book_complete', 'book_first_open', 'book_open', 'video_close',
       'video_first_open', 'video_open'], dtype=object)

In [19]:
df['event_name'].value_counts()

video_close         5401557
video_open          4163399
book_open           4041230
book_close          4004299
book_first_open     2246649
video_first_open    1483684
book_complete       1438767
audio_open           421807
audio_close          407879
audio_first_open      35346
Name: event_name, dtype: int64

In [21]:
no_of_learners = len(df['learner_id'].unique())

264822

In [22]:
len(df['session_id'].unique())

2326130

In [25]:
df['session_id'].describe()

count                     23644617
unique                     2326130
top       002714403420170921203227
freq                          2343
Name: session_id, dtype: object

In [29]:
sessions = df['session_id'].value_counts()
sessions.to_csv('sessions.csv')

In [30]:
df[df['session_id'] == '002735577520170926212651']

,Unnamed: 0,row_id,trial_time,event_name,event_time,receipt_time,learner_id,session_id,book_code,contents_code,library_source,media_fm
390236,390237,000000000007CE7F000000000009EBC20000015EBE4328...,1970-01-01,audio_close,2017-09-26 12:57:06,2017-09-26 13:01:48,650178.0,002735577520170926212651,BO-20150417020356430,NaN,NaN,NaN
390346,390347,000000000007CE7F000000000009EBC20000015EBE2A41...,1970-01-01,audio_close,2017-09-26 12:29:54,2017-09-26 12:32:59,650178.0,002735577520170926212651,BO-20150417020356433,NaN,NaN,NaN
390358,390359,000000000007CE7F000000000009EBC20000015EBE2B1C...,1970-01-01,audio_close,2017-09-26 12:30:50,2017-09-26 12:36:36,650178.0,002735577520170926212651,BO-20150417020356522,NaN,NaN,NaN
390466,390467,000000000007CE7F000000000009EBC20000015EBE335D...,1970-01-01,audio_close,2017-09-26 12:39:51,2017-09-26 12:43:05,650178.0,002735577520170926212651,BO-20150417020356516,NaN,NaN,NaN
390552,390553,000000000007CE7F000000000009EBC20000015EBE3814...,1970-01-01,audio_close,2017-09-26 12:45:00,2017-09-26 12:48:03,650178.0,002735577520170926212651,BO-20150417020356388,NaN,NaN,NaN
390660,390661,000000000007CE7F000000000009EBC20000015EBE404E...,1970-01-01,audio_close,2017-09-26 12:53:59,2017-09-26 12:57:30,650178.0,002735577520170926212651,BO-20150417020356400,NaN,NaN,NaN
390747,390748,000000000007CE7F000000000009EBC20000015EBE2EFC...,1970-01-01,audio_close,2017-09-26 12:35:04,2017-09-26 12:38:11,650178.0,002735577520170926212651,BO-20150417020356424,NaN,NaN,NaN
390857,390858,000000000007CE7F000000000009EBC20000015EBE30D1...,1970-01-01,audio_close,2017-09-26 12:37:04,2017-09-26 12:42:09,650178.0,002735577520170926212651,BO-20150417020356519,NaN,NaN,NaN
391025,391026,000000000007CE7F000000000009EBC20000015EBE3EFA...,1970-01-01,audio_close,2017-09-26 12:52:32,2017-09-26 12:57:05,650178.0,002735577520170926212651,BO-20150417020356513,NaN,NaN,NaN
391183,391184,000000000007CE7F000000000009EBC20000015EBE49D7...,1970-01-01,audio_close,2017-09-26 13:04:24,2017-09-26 13:07:31,650178.0,002735577520170926212651,BO-20150417020356522,NaN,NaN,NaN
391253,391254,000000000007CE7F000000000009EBC20000015EBE28B7...,1970-01-01,audio_close,2017-09-26 12:28:13,2017-09-26 12:32:36,650178.0,002735577520170926212651,BO-20150417020356391,NaN,NaN,NaN
391286,391287,000000000007CE7F000000000009EBC20000015EBE2CAB...,1970-01-01,audio_close,2017-09-26 12:32:32,2017-09-26 12:37:13,650178.0,002735577520170926212651,BO-20150417020356391,NaN,NaN,NaN
391316,391317,000000000007CE7F000000000009EBC20000015EBE5050...,1970-01-01,audio_close,2017-09-26 13:11:28,2017-09-26 13:16:46,650178.0,002735577520170926212651,BO-20150417020356391,NaN,NaN,NaN
391451,391452,000000000007CE7F000000000009EBC20000015EBE543F...,1970-01-01,audio_close,2017-09-26 13:15:46,2017-09-26 13:21:30,650178.0,002735577520170926212651,BO-20150417020356519,NaN,NaN,NaN
391484,391485,000000000007CE7F000000000009EBC20000015EBE57B6...,1970-01-01,audio_close,2017-09-26 13:19:33,2017-09-26 13:22:23,650178.0,002735577520170926212651,BO-20150417020356525,NaN,NaN,NaN
391525,391526,000000000007CE7F000000000009EBC20000015EBE32A2...,1970-01-01,audio_close,2017-09-26 12:39:03,2017-09-26 12:42:46,650178.0,002735577520170926212651,BO-20150417020356421,NaN,NaN,NaN
391543,391544,000000000007CE7F000000000009EBC20000015EBE354D...,1970-01-01,audio_close,2017-09-26 12:41:58,2017-09-26 12:46:54,650178.0,002735577520170926212651,BO-20150417020356406,NaN,NaN,NaN
391554,391555,000000000007CE7F000000000009EBC20000015EBE364B...,1970-01-01,audio_close,2017-09-26 12:43:03,2017-09-26 12:47:17,650178.0,002735577520170926212651,BO-20150417020356412,NaN,NaN,NaN
391693,391694,000000000007CE7F000000000009EBC20000015EBE3B5C...,1970-01-01,audio_close,2017-09-26 12:48:35,2017-09-26 12:52:27,650178.0,002735577520170926212651,BO-20150417020356418,NaN,NaN,NaN
391697,391698,000000000007CE7F000000000009EBC20000015EBE3BC2...,1970-01-01,audio_close,2017-09-26 12:49:01,2017-09-26 12:52:40,650178.0,002735577520170926212651,BO-20150417020356397,NaN,NaN,NaN
391717,391718,000000000007CE7F000000000009EBC20000015EBE3CAC...,1970-01-01,audio_close,2017-09-26 12:50:01,2017-09-26 12:52:56,650178.0,002735577520170926212651,BO-20150417020356415,NaN,NaN,NaN
391723,391724,000000000007CE7F000000000009EBC20000015EBE3DD5...,1970-01-01,audio_close,2017-09-26 12:51:17,2017-09-26 12:56:43,650178.0,002735577520170926212651,BO-20150417020356525,NaN,NaN,NaN
391801,391802,000000000007CE7F000000000009EBC20000015EBE4563...,1970-01-01,audio_close,2017-09-26 12:59:32,2017-09-26 13:02:34,650178.0,002735577520170926212651,BO-20150417020356418,NaN,NaN,NaN
391802,391803,000000000007CE7F000000000009EBC20000015EBE45E7...,1970-01-01,audio_close,2017-09-26 13:00:06,2017-09-26 13:02:40,650178.0,002735577520170926212651,BO-20150417020356400,NaN,NaN,NaN
391819,391820,000000000007CE7F000000000009EBC20000015EBE47D4...,1970-01-01,audio_close,2017-09-26 13:02:12,2017-09-26 13:06:53,650178.0,002735577520170926212651,BO-20150417020356412,NaN,NaN,NaN
391886,391887,000000000007CE7F000000000009EBC20000015EBE5B0A...,1970-01-01,audio_close,2017-09-26 13:23:11,2017-09-26 13:26:56,650178.0,002735577520170926212651,BO-20150417020356388,NaN,NaN,NaN
391980,391981,000000000007CE7F000000000009EBC20000015EBE6314...,1970-01-01,audio_close,2017-09-26 13:31:58,2017-09-26 13:36:49,650178.0,002735577520170926212651,BO-20150417020356427,NaN,NaN,NaN
392156,392157,000000000007CE7F000000000009EBC20000015EBE7131...,1970-01-01,audio_close,2017-09-26 13:47:23,2017-09-26 13:51:47,650178.0,002735577520170926212651,BO-20150417020356510,NaN,NaN,NaN
392295,392296,000000000007CE7F000000000009EBC20000015EBE767D...,1970-01-01,audio_close,2017-09-26 13:53:10,2017-09-26 13:56:47,650178.0,002735577520170926212651,BO-20150417020356406,NaN,NaN,NaN
392319,392320,000000000007CE7F000000000009EBC20000015EBE7940...,1970-01-01,audio_close,2017-09-26 13:56:11,2017-09-26 14:01:26,650178.0,002735577520170926212651,BO-20150417020356516,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
861418,861419,000000000007CE7F000000000009EBC20000015EBE432C...,1970-01-01,audio_open,2017-09-26 12:57:07,2017-09-26 13:01:48,650178.0,002735577520170926212651,BO-20150417020356418,NaN,LU,MP3
862562,862563,000000000007CE7F000000000009EBC20000015EBE47D8...,1970-01-01,audio_open,2017-09-26 13:02:13,2017-09-26 13:06:53,650178.0,002735577520170926212651,BO-20150417020356513,NaN,LU,MP3
862605,862606,000000000007CE7F000000000009EBC20000015EBE4BD3...,1970-01-01,audio_open,2017-09-26 13:06:34,2017-09-26 13:11:42,650178.0,002735577520170926212651,BO-20150417020356403,NaN,LU,MP3
862676,862677,000000000007CE7F000000000009EBC20000015EBE5169...,1970-01-01,audio_open,2017-09-26 13:12:40,2017-09-26 13:17:05,650178.0,002735577520170926212651,BO-20150417020356406,NaN,LU,MP3
862721,862722,000000000007CE7F000000000009EBC20000015EBE568D...,1970-01-01,audio_open,2017-09-26 13:18:17,2017-09-26 13:22:04,650178.0,002735577520170926212651,BO-20150417020356525,NaN,LU,MP3
862785,862786,000000000007CE7F000000000009EBC20000015EBE5B0A...,1970-01-01,audio_open,2017-09-26 13:23:11,2017-09-26 13:26:56,650178.0,002735577520170926212651,BO-20150417020356421,NaN,LU,MP3
862846,862847,000000000007CE7F000000000009EBC20000015EBE600B...,1970-01-01,audio_open,2017-09-26 13:28:39,2017-09-26 13:32:05,650178.0,002735577520170926212651,BO-20150417020356385,NaN,LU,MP3
862961,862962,000000000007CE7F000000000009EBC20000015EBE6C28...,1970-01-01,audio_open,2017-09-26 13:41:53,2017-09-26 13:46:42,650178.0,002735577520170926212651,BO-20150417020356430,NaN,LU,MP3
863000,863001,000000000007CE7F000000000009EBC20000015EBE6F3A...,1970-01-01,audio_open,2017-09-26 13:45:14,2017-09-26 13:51:26,650178.0,002735577520170926212651,BO-20150417020356400,NaN,LU,MP3
863001,863002,000000000007CE7F000000000009EBC20000015EBE6FBE...,1970-01-01,audio_open,2017-09-26 13:45:48,2017-09-26 13:51:31,650178.0,002735577520170926212651,BO-20150417020356397,NaN,LU,MP3
863060,863061,000000000007CE7F000000000009EBC20000015EBE757F...,1970-01-01,audio_open,2017-09-26 13:52:05,2017-09-26 13:56:37,650178.0,002735577520170926212651,BO-20150417020356406,NaN,LU,MP3
863200,863201,000000000007CE7F000000000009EBC20000015EBE8254...,1970-01-01,audio_open,2017-09-26 14:06:06,2017-09-26 14:11:28,650178.0,002735577520170926212651,BO-20150417020356510,NaN,LU,MP3
863258,863259,000000000007CE7F000000000009EBC20000015EBE8790...,1970-01-01,audio_open,2017-09-26 14:11:49,2017-09-26 14:16:32,650178.0,002735577520170926212651,BO-20150417020356391,NaN,LU,MP3
863269,863270,000000000007CE7F000000000009EBC20000015EBE89B7...,1970-01-01,audio_open,2017-09-26 14:14:10,2017-09-26 14:16:44,650178.0,002735577520170926212651,BO-20150417020356433,NaN,LU,MP3
863291,863292,000000000007CE7F000000000009EBC20000015EBE8B41...,1970-01-01,audio_open,2017-09-26 14:15:51,2017-09-26 14:21:23,650178.0,002735577520170926212651,BO-20150417020356519,NaN,LU,MP3
863315,863316,000000000007CE7F000000000009EBC20000015EBE8EC4...,1970-01-01,audio_open,2017-09-26 14:19:41,2017-09-26 14:21:41,650178.0,002735577520170926212651,BO-20150417020356400,NaN,LU,MP3
863341,863342,000000000007CE7F000000000009EBC20000015EBE90D3...,1970-01-01,audio_open,2017-09-26 14:21:56,2017-09-26 14:26:29,650178.0,002735577520170926212651,BO-20150417020356406,NaN,LU,MP3
863365,863366,000000000007CE7F000000000009EBC20000015EBE94AC...,1970-01-01,audio_open,2017-09-26 14:26:08,2017-09-26 14:31:22,650178.0,002735577520170926212651,BO-20150417020356397,NaN,LU,MP3
863383,863384,000000000007CE7F000000000009EBC20000015EBE96E2...,1970-01-01,audio_open,2017-09-26 14:28:33,2017-09-26 14:31:34,650178.0,002735577520170926212651,BO-20150417020356385,NaN,LU,MP3
863400,863401,000000000007CE7F000000000009EBC20000015EBE98CE...,1970-01-01,audio_open,2017-09-26 14:30:39,2017-09-26 14:36:22,650178.0,002735577520170926212651,BO-20150417020356519,NaN,LU,MP3
863573,863574,000000000007CE7F000000000009EBC20000015EBEB007...,1970-01-01,audio_open,2017-09-26 14:56:01,2017-09-26 15:01:21,650178.0,002735577520170926212651,BO-20150417020356406,NaN,LU,MP3
863622,863623,000000000007CE7F000000000009EBC20000015EBEB52C...,1970-01-01,audio_open,2017-09-26 15:01:38,2017-09-26 15:06:26,650178.0,002735577520170926212651,BO-20150417020356388,NaN,LU,MP3
863631,863632,000000000007CE7F000000000009EBC20000015EBEB77E...,1970-01-01,audio_open,2017-09-26 15:04:10,2017-09-26 15:06:31,650178.0,002735577520170926212651,BO-20150417020356394,NaN,LU,MP3
863746,863747,000000000007CE7F000000000009EBC20000015EBECC80...,1970-01-01,audio_open,2017-09-26 15:27:07,2017-09-26 15:31:22,650178.0,002735577520170926212651,BO-20150417020356403,NaN,LU,MP3
863775,863776,000000000007CE7F000000000009EBC20000015EBED061...,1970-01-01,audio_open,2017-09-26 15:31:21,2017-09-26 15:36:21,650178.0,002735577520170926212651,BO-20150417020356519,NaN,LU,MP3
863807,863808,000000000007CE7F000000000009EBC20000015EBED470...,1970-01-01,audio_open,2017-09-26 15:35:47,2017-09-26 15:41:21,650178.0,002735577520170926212651,BO-20150417020356385,NaN,LU,MP3
863827,863828,000000000007CE7F000000000009EBC20000015EBED87B...,1970-01-01,audio_open,2017-09-26 15:40:12,2017-09-26 15:46:22,650178.0,002735577520170926212651,BO-20150417020356400,NaN,LU,MP3
865020,865021,000000000007CE7F000000000009EBC20000015EBFDD8B...,1970-01-01,audio_open,2017-09-26 20:25:21,2017-09-26 20:31:21,650178.0,002735577520170926212651,BO-20150417020356427,NaN,LU,MP3
865021,865022,000000000007CE7F000000000009EBC20000015EBFDFA6...,1970-01-01,audio_open,2017-09-26 20:27:39,2017-09-26 20:31:21,650178.0,002735577520170926212651,BO-20150417020356415,NaN,LU,MP3
865022,865023,000000000007CE7F000000000009EBC20000015EBFE094...,1970-01-01,audio_open,2017-09-26 20:28:40,2017-09-26 20:31:21,650178.0,002735577520170926212651,BO-20150417020356433,NaN,LU,MP3

In [23]:
len(df['book_code'].unique())

11558

In [24]:
len(df['contents_code'].unique())

10121

In [42]:
user_item_df = df[['learner_id', 'book_code']]

In [44]:
user_item_df['learner_id'].value_counts()

417211.0    13224
342381.0    11911
404783.0    11626
388560.0    10352
639207.0     8826
503664.0     7501
339189.0     7431
419867.0     7262
480005.0     7169
430032.0     7081
453255.0     6361
441531.0     6300
310785.0     6226
192528.0     6022
509307.0     5715
492373.0     5545
472788.0     5323
650178.0     5137
472745.0     4863
637376.0     4748
585428.0     4730
398281.0     4572
445863.0     4151
336525.0     4104
640981.0     4077
252353.0     3921
403964.0     3893
502639.0     3712
259386.0     3700
637441.0     3697
            ...
377744.0        1
377825.0        1
546800.0        1
547295.0        1
156839.0        1
376879.0        1
43093.0         1
204499.0        1
107859.0        1
156800.0        1
304206.0        1
550357.0        1
156725.0        1
549626.0        1
204777.0        1
43414.0         1
548918.0        1
43472.0         1
156649.0        1
156611.0        1
548294.0        1
303906.0        1
376685.0        1
376779.0        1
547622.0        1
43669.0         1
376808.0        1
43694.0         1
156557.0        1
525958.0        1
Name: learner_id, Length: 264822, dtype: int64

In [46]:
learner = df[df['learner_id'] == 417211]
no_of_books = len(learner['book_code'].unique())
print(no_of_books)

65

In [47]:
all_books = len(learner['book_code'])
print(all_books)

13224

In [48]:
df1 = df.groupby(['learner_id','book_code']).size().reset_index().rename(columns={0:'count'})

In [2]:
df1.head()

NameError: name 'df1' is not defined

In [51]:
df1[df1['learner_id'] == 417211]

         learner_id             book_code  count
1837661    417211.0  BO-20150417020356763    206
1837662    417211.0  BO-20150417020356766    208
1837663    417211.0  BO-20150417020356769    212
1837664    417211.0  BO-20150417020356772    206
1837665    417211.0  BO-20150417020356775    211
1837666    417211.0  BO-20150417020356778    208
1837667    417211.0  BO-20150417020356781    209
1837668    417211.0  BO-20150417020356784    197
1837669    417211.0  BO-20150417020356787    208
1837670    417211.0  BO-20150417020356790    202
1837671    417211.0  BO-20150417020356793    196
1837672    417211.0  BO-20150417020356796    204
1837673    417211.0  BO-20150417020356802    211
1837674    417211.0  BO-20150417020356805    201
1837675    417211.0  BO-20150417020356808    208
1837676    417211.0  BO-20150417020356811    209
1837677    417211.0  BO-20150417020356814    201
1837678    417211.0  BO-20150417020356817    199
1837679    417211.0  BO-20150417020356821    206
1837680    417211.0  BO-20150417020356824    209
1837681    417211.0  BO-20150417020356827    213
1837682    417211.0  BO-20150417020356831    203
1837683    417211.0  BO-20150417020356833    211
1837684    417211.0  BO-20150417020356837    203
1837685    417211.0  BO-20150417020356840    211
1837686    417211.0  BO-20150417020356844    208
1837687    417211.0  BO-20150417020356847    209
1837688    417211.0  BO-20150417020356850    213
1837689    417211.0  BO-20150417020356853    207
1837690    417211.0  BO-20150417020356855    215
...             ...                   ...    ...
1837695    417211.0  BO-20150417020356914    204
1837696    417211.0  BO-20150417020356917    211
1837697    417211.0  BO-20150417020356920    203
1837698    417211.0  BO-20150417020356923    196
1837699    417211.0  BO-20150417020356926    212
1837700    417211.0  BO-20150417020356928    212
1837701    417211.0  BO-20150417020356931    207
1837702    417211.0  BO-20150417020356934    203
1837703    417211.0  BO-20150417020356940    203
1837704    417211.0  BO-20150417020356943    210
1837705    417211.0  BO-20150417020356946    212
1837706    417211.0  BO-20150417020356949    204
1837707    417211.0  BO-20150417020356952    204
1837708    417211.0  BO-20150417020356955    198
1837709    417211.0  BO-20150417020356958    209
1837710    417211.0  BO-20150417020356961    210
1837711    417211.0  BO-20150417020356965    214
1837712    417211.0  BO-20150417020356968    204
1837713    417211.0  BO-20150417020356971    205
1837714    417211.0  BO-20150417020356974    206
1837715    417211.0  BO-20150417020356980    214
1837716    417211.0  BO-20150417020356983    206
1837717    417211.0  BO-20150417020356986    207
1837718    417211.0  BO-20150417020356989    218
1837719    417211.0  BO-20150417020356992    200
1837720    417211.0  BO-20150417020356994    205
1837721    417211.0  BO-20150417020356997    200
1837722    417211.0  BO-20150417020357001    199
1837723    417211.0  BO-20150417020357004    205
1837724    417211.0  BO-20150417020357008    203

[64 rows x 3 columns]