In [4]:
import os
import pandas as pd
cwd = os.getcwd()
print(cwd)

/home/rraju

In [5]:
df = pd.read_csv('data/bookclub_events.csv')

/home/rraju/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2698: DtypeWarning: Columns (9,10,11) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [6]:
df.columns

Index(['Unnamed: 0', 'row_id', 'trial_time', 'event_name', 'event_time',
       'receipt_time', 'learner_id', 'session_id', 'book_code',
       'contents_code', 'library_source', 'media_fm'],
      dtype='object')

In [54]:
df['book_code'].describe()

count                 13508060
unique                   11557
top       BO-20170627173817922
freq                    512221
Name: book_code, dtype: object

In [55]:
df['learner_id'].describe()

count    2.364462e+07
mean     3.824910e+05
std      1.815107e+05
min      5.000000e+00
25%      2.348240e+05
50%      4.041670e+05
75%      5.137780e+05
max      6.669300e+05
Name: learner_id, dtype: float64

In [8]:
len(df)

23644617

In [10]:
len(df['row_id'].unique())

23644461

In [12]:
df['row_id'].describe()

count                                              23644617
unique                                             23644461
top       000000000004E4230000000000066B940000015E82461A...
freq                                                      4
Name: row_id, dtype: object

In [13]:
res = df['row_id'].value_counts()
print(res)

000000000004E4230000000000066B940000015E82461A90000000000000015E824EF021    4
000000000006FCAA000000000007CAFF0000015E8247DFB0000000000000015E824EF1EA    4
000000000006903A00000000000766490000015E59538F50000000000000015E824EF039    4
000000000005371D0000000000068B1F0000015E82461A90000000000000015E824EF02F    4
000000000006FCAA000000000007CAFF0000015E82462648000000000000015E824EF041    4
000000000006DBB8000000000007B4520000015E824612C0000000000000015E824EF02D    4
00000000000271B6000000000001B7E70000015E8247ACE8000000000000015E824EF1B5    4
000000000001593E00000000000339290000015E82467850000000000000015E824EF0B5    4
000000000006FCAA000000000007CAFF0000015E8247D3F8000000000000015E824EF1DE    4
000000000006903A00000000000766490000015E64B3C6A8000000000000015E824EF193    4
00000000000765B100000000000735E40000015E8246ED80000000000000015E824EF112    4
000000000001593E00000000000339290000015E82467850000000000000015E824EF0BB    4
000000000002AEFE000000000000C5130000015E8246D228000000000000015E824EF0E7    4
000000000006903A00000000000766490000015E5953A2D8000000000000015E824EF05C    4
000000000006715B0000000000082C940000015E8246CE40000000000000015E824EF101    4
000000000006903A00000000000766490000015E60F64978000000000000015E824EF130    4
000000000006903A00000000000766490000015E5953D988000000000000015E824EF07E    4
000000000006903A00000000000766490000015E5953C600000000000000015E824EF068    4
00000000000766EE00000000000820300000015E82468FC0000000000000015E824EF0AE    4
000000000006903A00000000000766490000015E5953C600000000000000015E824EF060    4
00000000000766EE00000000000820300000015E82468408000000000000015E824EF09A    4
000000000002C46800000000000201390000015EA2D20F08000000000000015EA55D1610    4
000000000006903A00000000000766490000015E64B3C6A8000000000000015E824EF197    4
0000000000010BD5000000000002B8D70000015E82474758000000000000015E824EF172    4
000000000007A943000000000009B7CC0000015E82479D48000000000000015E824EF1AF    4
000000000006715B0000000000082C940000015E8246CE40000000000000015E824EF0F9    4
000000000001593E00000000000339290000015E82467850000000000000015E824EF0BF    4
000000000003D85F00000000000410DA0000015E8246F168000000000000015E824EF110    4
000000000006903A00000000000766490000015E6120D030000000000000015E824EF141    4
000000000000F0920000000000061AC40000015E8247C840000000000000015E824EF1D2    4
                                                                           ..
000000000006EA73000000000007A9C40000015EA96E22E8000000000000015EA975CD60    1
0000000000045D8C0000000000060B3E0000015E8FCBDD80000000000000015E8FD48DA6    1
000000000007B868000000000009CE340000015E8D898AB8000000000000015E8D934FC6    1
00000000000528B600000000000685270000015E99D097D0000000000000015E99D950B2    1
0000000000053BD200000000000446B50000015EBE9F75B8000000000000015EBEA2C3CD    1
00000000000179370000000000090A670000015E8A5EA0F8000000000000015E8A6983DE    1
000000000007B076000000000009BC8A0000015E8890D250000000000000015E889B0CBC    1
000000000007C388000000000009DD5A0000015EA4861038000000000000015EA48B8C3D    1
000000000004D6FC0000000000064B2D0000015E8D5D98B8000000000000015E8D65F210    1
00000000000674670000000000076F570000015E8F93B680000000000000015E8F9D5D3D    1
000000000002F24C0000000000052DAD0000015EB86F5A78000000000000015EB8736ABE    1
00000000000544AA00000000000681F30000015EBB698F78000000000000015EBB6B2DA8    1
000000000006F497000000000007F92A0000015EB8BFC468000000000000015EB8C53DE7    1
000000000005ABC20000000000088CAE0000015E9F0B6E00000000000000015E9F12C0EC    1
0000000000073969000000000007F8440000015EA27748C0000000000000015EA27C397D    1
000000000003CB8500000000000588270000015EB8B15130000000000000015EB8B4E3F8    1
0000000000012AC100000000000185860000015E88B16DF8000000000000015E88BAE1A3    1
000000000001E1280000000000058BD60000015EBDD25218000000000000015EBDD63044    1
000000000007AC7E000000000009D0A50000015E8DF09988000000000000015E8DF354B3    1
000000000005F96D0000000000013B0B0000015E8FD766A0000000000000015E8FD89B2F    1
000000000000D7470000000000033AD90000015E9EF3B3C8000000000000015E9EFB8C4D    1
00000000000759A2000000000008260F0000015EB2B409A8000000000000015EB2B925A4    1
000000000006BB1E000000000007A36E0000015E805B55D8000000000000015E8065BC22    1
000000000007EDA100000000000A155C0000015E9E94D6A0000000000000015E9E9BB481    1
000000000006D61A000000000007C7A30000015E9EB37A60000000000000015E9EBB680B    1
000000000007AC2F000000000009B9D10000015E9E7DFEF8000000000000015E9E84D75A    1
000000000005CBE10000000000030EE20000015EAA26E3C8000000000000015EAA2CA194    1
000000000007F52400000000000A218B0000015EB12AD968000000000000015EB13388A2    1
000000000002A24D000000000004FD8C0000015EB2C53FE8000000000000015EB2CB6E33    1
000000000007751D000000000008DB000000015E7D7139F0000000000000015E82A1E2BA    1
Name: row_id, Length: 23644461, dtype: int64

In [14]:
df[df['row_id'] == '000000000004E4230000000000066B940000015E82461A90000000000000015E824EF021']

,Unnamed: 0,row_id,trial_time,event_name,event_time,receipt_time,learner_id,session_id,book_code,contents_code,library_source,media_fm
18968667,18968668,000000000004E4230000000000066B940000015E82461A...,1970-01-01,video_first_open,2017-09-14 21:23:06,2017-09-14 21:32:44,420756.0,002686229820170915061936,BO-20170821132107586,CT-20170821132107586,TL,MP4
18968668,18968669,000000000004E4230000000000066B940000015E82461A...,1970-01-01,video_first_open,2017-09-14 21:23:06,2017-09-14 21:32:44,420756.0,002686229820170915061936,BO-20170821132107586,CT-20170821132107586,TL,MP4
18968709,18968710,000000000004E4230000000000066B940000015E82461A...,1970-01-01,video_first_open,2017-09-14 21:23:06,2017-09-14 21:32:44,420756.0,002686229820170915061936,BO-20170821132107586,CT-20170821132107586,TL,MP4
18968710,18968711,000000000004E4230000000000066B940000015E82461A...,1970-01-01,video_first_open,2017-09-14 21:23:06,2017-09-14 21:32:44,420756.0,002686229820170915061936,BO-20170821132107586,CT-20170821132107586,TL,MP4

In [16]:
df[df['row_id'] == '000000000006903A00000000000766490000015E64B3C6A8000000000000015E824EF197']

,Unnamed: 0,row_id,trial_time,event_name,event_time,receipt_time,learner_id,session_id,book_code,contents_code,library_source,media_fm
10708216,10708217,000000000006903A00000000000766490000015E64B3C6...,1970-01-01,book_open,2017-09-09 03:34:17,2017-09-14 21:32:45,484937.0,002708098220170915062432,BO-20140726014638460,CT-20140726014638460,TBE,PDFA
10708217,10708218,000000000006903A00000000000766490000015E64B3C6...,1970-01-01,book_open,2017-09-09 03:34:17,2017-09-14 21:32:45,484937.0,002708098220170915062432,BO-20140726014638460,CT-20140726014638460,TBE,PDFA
10708241,10708242,000000000006903A00000000000766490000015E64B3C6...,1970-01-01,book_open,2017-09-09 03:34:17,2017-09-14 21:32:45,484937.0,002708098220170915062432,BO-20140726014638460,CT-20140726014638460,TBE,PDFA
10708242,10708243,000000000006903A00000000000766490000015E64B3C6...,1970-01-01,book_open,2017-09-09 03:34:17,2017-09-14 21:32:45,484937.0,002708098220170915062432,BO-20140726014638460,CT-20140726014638460,TBE,PDFA

In [17]:
len(df['trial_time'].unique())

1

In [18]:
len(df['event_name'].unique())

10

In [20]:
df['event_name'].unique()

array(['audio_close', 'audio_open', 'audio_first_open', 'book_close',
       'book_complete', 'book_first_open', 'book_open', 'video_close',
       'video_first_open', 'video_open'], dtype=object)

In [19]:
df['event_name'].value_counts()

video_close         5401557
video_open          4163399
book_open           4041230
book_close          4004299
book_first_open     2246649
video_first_open    1483684
book_complete       1438767
audio_open           421807
audio_close          407879
audio_first_open      35346
Name: event_name, dtype: int64

In [21]:
no_of_learners = len(df['learner_id'].unique())

264822

In [22]:
len(df['session_id'].unique())

2326130

In [25]:
df['session_id'].describe()

count                     23644617
unique                     2326130
top       002714403420170921203227
freq                          2343
Name: session_id, dtype: object

In [29]:
sessions = df['session_id'].value_counts()
sessions.to_csv('sessions.csv')

In [30]:
df[df['session_id'] == '002735577520170926212651']

,Unnamed: 0,row_id,trial_time,event_name,event_time,receipt_time,learner_id,session_id,book_code,contents_code,library_source,media_fm
390236,390237,000000000007CE7F000000000009EBC20000015EBE4328...,1970-01-01,audio_close,2017-09-26 12:57:06,2017-09-26 13:01:48,650178.0,002735577520170926212651,BO-20150417020356430,NaN,NaN,NaN
390346,390347,000000000007CE7F000000000009EBC20000015EBE2A41...,1970-01-01,audio_close,2017-09-26 12:29:54,2017-09-26 12:32:59,650178.0,002735577520170926212651,BO-20150417020356433,NaN,NaN,NaN
390358,390359,000000000007CE7F000000000009EBC20000015EBE2B1C...,1970-01-01,audio_close,2017-09-26 12:30:50,2017-09-26 12:36:36,650178.0,002735577520170926212651,BO-20150417020356522,NaN,NaN,NaN
390466,390467,000000000007CE7F000000000009EBC20000015EBE335D...,1970-01-01,audio_close,2017-09-26 12:39:51,2017-09-26 12:43:05,650178.0,002735577520170926212651,BO-20150417020356516,NaN,NaN,NaN
390552,390553,000000000007CE7F000000000009EBC20000015EBE3814...,1970-01-01,audio_close,2017-09-26 12:45:00,2017-09-26 12:48:03,650178.0,002735577520170926212651,BO-20150417020356388,NaN,NaN,NaN
390660,390661,000000000007CE7F000000000009EBC20000015EBE404E...,1970-01-01,audio_close,2017-09-26 12:53:59,2017-09-26 12:57:30,650178.0,002735577520170926212651,BO-20150417020356400,NaN,NaN,NaN
390747,390748,000000000007CE7F000000000009EBC20000015EBE2EFC...,1970-01-01,audio_close,2017-09-26 12:35:04,2017-09-26 12:38:11,650178.0,002735577520170926212651,BO-20150417020356424,NaN,NaN,NaN
390857,390858,000000000007CE7F000000000009EBC20000015EBE30D1...,1970-01-01,audio_close,2017-09-26 12:37:04,2017-09-26 12:42:09,650178.0,002735577520170926212651,BO-20150417020356519,NaN,NaN,NaN
391025,391026,000000000007CE7F000000000009EBC20000015EBE3EFA...,1970-01-01,audio_close,2017-09-26 12:52:32,2017-09-26 12:57:05,650178.0,002735577520170926212651,BO-20150417020356513,NaN,NaN,NaN
391183,391184,000000000007CE7F000000000009EBC20000015EBE49D7...,1970-01-01,audio_close,2017-09-26 13:04:24,2017-09-26 13:07:31,650178.0,002735577520170926212651,BO-20150417020356522,NaN,NaN,NaN
391253,391254,000000000007CE7F000000000009EBC20000015EBE28B7...,1970-01-01,audio_close,2017-09-26 12:28:13,2017-09-26 12:32:36,650178.0,002735577520170926212651,BO-20150417020356391,NaN,NaN,NaN
391286,391287,000000000007CE7F000000000009EBC20000015EBE2CAB...,1970-01-01,audio_close,2017-09-26 12:32:32,2017-09-26 12:37:13,650178.0,002735577520170926212651,BO-20150417020356391,NaN,NaN,NaN
391316,391317,000000000007CE7F000000000009EBC20000015EBE5050...,1970-01-01,audio_close,2017-09-26 13:11:28,2017-09-26 13:16:46,650178.0,002735577520170926212651,BO-20150417020356391,NaN,NaN,NaN
391451,391452,000000000007CE7F000000000009EBC20000015EBE543F...,1970-01-01,audio_close,2017-09-26 13:15:46,2017-09-26 13:21:30,650178.0,002735577520170926212651,BO-20150417020356519,NaN,NaN,NaN
391484,391485,000000000007CE7F000000000009EBC20000015EBE57B6...,1970-01-01,audio_close,2017-09-26 13:19:33,2017-09-26 13:22:23,650178.0,002735577520170926212651,BO-20150417020356525,NaN,NaN,NaN
391525,391526,000000000007CE7F000000000009EBC20000015EBE32A2...,1970-01-01,audio_close,2017-09-26 12:39:03,2017-09-26 12:42:46,650178.0,002735577520170926212651,BO-20150417020356421,NaN,NaN,NaN
391543,391544,000000000007CE7F000000000009EBC20000015EBE354D...,1970-01-01,audio_close,2017-09-26 12:41:58,2017-09-26 12:46:54,650178.0,002735577520170926212651,BO-20150417020356406,NaN,NaN,NaN
391554,391555,000000000007CE7F000000000009EBC20000015EBE364B...,1970-01-01,audio_close,2017-09-26 12:43:03,2017-09-26 12:47:17,650178.0,002735577520170926212651,BO-20150417020356412,NaN,NaN,NaN
391693,391694,000000000007CE7F000000000009EBC20000015EBE3B5C...,1970-01-01,audio_close,2017-09-26 12:48:35,2017-09-26 12:52:27,650178.0,002735577520170926212651,BO-20150417020356418,NaN,NaN,NaN
391697,391698,000000000007CE7F000000000009EBC20000015EBE3BC2...,1970-01-01,audio_close,2017-09-26 12:49:01,2017-09-26 12:52:40,650178.0,002735577520170926212651,BO-20150417020356397,NaN,NaN,NaN
391717,391718,000000000007CE7F000000000009EBC20000015EBE3CAC...,1970-01-01,audio_close,2017-09-26 12:50:01,2017-09-26 12:52:56,650178.0,002735577520170926212651,BO-20150417020356415,NaN,NaN,NaN
391723,391724,000000000007CE7F000000000009EBC20000015EBE3DD5...,1970-01-01,audio_close,2017-09-26 12:51:17,2017-09-26 12:56:43,650178.0,002735577520170926212651,BO-20150417020356525,NaN,NaN,NaN
391801,391802,000000000007CE7F000000000009EBC20000015EBE4563...,1970-01-01,audio_close,2017-09-26 12:59:32,2017-09-26 13:02:34,650178.0,002735577520170926212651,BO-20150417020356418,NaN,NaN,NaN
391802,391803,000000000007CE7F000000000009EBC20000015EBE45E7...,1970-01-01,audio_close,2017-09-26 13:00:06,2017-09-26 13:02:40,650178.0,002735577520170926212651,BO-20150417020356400,NaN,NaN,NaN
391819,391820,000000000007CE7F000000000009EBC20000015EBE47D4...,1970-01-01,audio_close,2017-09-26 13:02:12,2017-09-26 13:06:53,650178.0,002735577520170926212651,BO-20150417020356412,NaN,NaN,NaN
391886,391887,000000000007CE7F000000000009EBC20000015EBE5B0A...,1970-01-01,audio_close,2017-09-26 13:23:11,2017-09-26 13:26:56,650178.0,002735577520170926212651,BO-20150417020356388,NaN,NaN,NaN
391980,391981,000000000007CE7F000000000009EBC20000015EBE6314...,1970-01-01,audio_close,2017-09-26 13:31:58,2017-09-26 13:36:49,650178.0,002735577520170926212651,BO-20150417020356427,NaN,NaN,NaN
392156,392157,000000000007CE7F000000000009EBC20000015EBE7131...,1970-01-01,audio_close,2017-09-26 13:47:23,2017-09-26 13:51:47,650178.0,002735577520170926212651,BO-20150417020356510,NaN,NaN,NaN
392295,392296,000000000007CE7F000000000009EBC20000015EBE767D...,1970-01-01,audio_close,2017-09-26 13:53:10,2017-09-26 13:56:47,650178.0,002735577520170926212651,BO-20150417020356406,NaN,NaN,NaN
392319,392320,000000000007CE7F000000000009EBC20000015EBE7940...,1970-01-01,audio_close,2017-09-26 13:56:11,2017-09-26 14:01:26,650178.0,002735577520170926212651,BO-20150417020356516,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
861418,861419,000000000007CE7F000000000009EBC20000015EBE432C...,1970-01-01,audio_open,2017-09-26 12:57:07,2017-09-26 13:01:48,650178.0,002735577520170926212651,BO-20150417020356418,NaN,LU,MP3
862562,862563,000000000007CE7F000000000009EBC20000015EBE47D8...,1970-01-01,audio_open,2017-09-26 13:02:13,2017-09-26 13:06:53,650178.0,002735577520170926212651,BO-20150417020356513,NaN,LU,MP3
862605,862606,000000000007CE7F000000000009EBC20000015EBE4BD3...,1970-01-01,audio_open,2017-09-26 13:06:34,2017-09-26 13:11:42,650178.0,002735577520170926212651,BO-20150417020356403,NaN,LU,MP3
862676,862677,000000000007CE7F000000000009EBC20000015EBE5169...,1970-01-01,audio_open,2017-09-26 13:12:40,2017-09-26 13:17:05,650178.0,002735577520170926212651,BO-20150417020356406,NaN,LU,MP3
862721,862722,000000000007CE7F000000000009EBC20000015EBE568D...,1970-01-01,audio_open,2017-09-26 13:18:17,2017-09-26 13:22:04,650178.0,002735577520170926212651,BO-20150417020356525,NaN,LU,MP3
862785,862786,000000000007CE7F000000000009EBC20000015EBE5B0A...,1970-01-01,audio_open,2017-09-26 13:23:11,2017-09-26 13:26:56,650178.0,002735577520170926212651,BO-20150417020356421,NaN,LU,MP3
862846,862847,000000000007CE7F000000000009EBC20000015EBE600B...,1970-01-01,audio_open,2017-09-26 13:28:39,2017-09-26 13:32:05,650178.0,002735577520170926212651,BO-20150417020356385,NaN,LU,MP3
862961,862962,000000000007CE7F000000000009EBC20000015EBE6C28...,1970-01-01,audio_open,2017-09-26 13:41:53,2017-09-26 13:46:42,650178.0,002735577520170926212651,BO-20150417020356430,NaN,LU,MP3
863000,863001,000000000007CE7F000000000009EBC20000015EBE6F3A...,1970-01-01,audio_open,2017-09-26 13:45:14,2017-09-26 13:51:26,650178.0,002735577520170926212651,BO-20150417020356400,NaN,LU,MP3
863001,863002,000000000007CE7F000000000009EBC20000015EBE6FBE...,1970-01-01,audio_open,2017-09-26 13:45:48,2017-09-26 13:51:31,650178.0,002735577520170926212651,BO-20150417020356397,NaN,LU,MP3
863060,863061,000000000007CE7F000000000009EBC20000015EBE757F...,1970-01-01,audio_open,2017-09-26 13:52:05,2017-09-26 13:56:37,650178.0,002735577520170926212651,BO-20150417020356406,NaN,LU,MP3
863200,863201,000000000007CE7F000000000009EBC20000015EBE8254...,1970-01-01,audio_open,2017-09-26 14:06:06,2017-09-26 14:11:28,650178.0,002735577520170926212651,BO-20150417020356510,NaN,LU,MP3
863258,863259,000000000007CE7F000000000009EBC20000015EBE8790...,1970-01-01,audio_open,2017-09-26 14:11:49,2017-09-26 14:16:32,650178.0,002735577520170926212651,BO-20150417020356391,NaN,LU,MP3
863269,863270,000000000007CE7F000000000009EBC20000015EBE89B7...,1970-01-01,audio_open,2017-09-26 14:14:10,2017-09-26 14:16:44,650178.0,002735577520170926212651,BO-20150417020356433,NaN,LU,MP3
863291,863292,000000000007CE7F000000000009EBC20000015EBE8B41...,1970-01-01,audio_open,2017-09-26 14:15:51,2017-09-26 14:21:23,650178.0,002735577520170926212651,BO-20150417020356519,NaN,LU,MP3
863315,863316,000000000007CE7F000000000009EBC20000015EBE8EC4...,1970-01-01,audio_open,2017-09-26 14:19:41,2017-09-26 14:21:41,650178.0,002735577520170926212651,BO-20150417020356400,NaN,LU,MP3
863341,863342,000000000007CE7F000000000009EBC20000015EBE90D3...,1970-01-01,audio_open,2017-09-26 14:21:56,2017-09-26 14:26:29,650178.0,002735577520170926212651,BO-20150417020356406,NaN,LU,MP3
863365,863366,000000000007CE7F000000000009EBC20000015EBE94AC...,1970-01-01,audio_open,2017-09-26 14:26:08,2017-09-26 14:31:22,650178.0,002735577520170926212651,BO-20150417020356397,NaN,LU,MP3
863383,863384,000000000007CE7F000000000009EBC20000015EBE96E2...,1970-01-01,audio_open,2017-09-26 14:28:33,2017-09-26 14:31:34,650178.0,002735577520170926212651,BO-20150417020356385,NaN,LU,MP3
863400,863401,000000000007CE7F000000000009EBC20000015EBE98CE...,1970-01-01,audio_open,2017-09-26 14:30:39,2017-09-26 14:36:22,650178.0,002735577520170926212651,BO-20150417020356519,NaN,LU,MP3
863573,863574,000000000007CE7F000000000009EBC20000015EBEB007...,1970-01-01,audio_open,2017-09-26 14:56:01,2017-09-26 15:01:21,650178.0,002735577520170926212651,BO-20150417020356406,NaN,LU,MP3
863622,863623,000000000007CE7F000000000009EBC20000015EBEB52C...,1970-01-01,audio_open,2017-09-26 15:01:38,2017-09-26 15:06:26,650178.0,002735577520170926212651,BO-20150417020356388,NaN,LU,MP3
863631,863632,000000000007CE7F000000000009EBC20000015EBEB77E...,1970-01-01,audio_open,2017-09-26 15:04:10,2017-09-26 15:06:31,650178.0,002735577520170926212651,BO-20150417020356394,NaN,LU,MP3
863746,863747,000000000007CE7F000000000009EBC20000015EBECC80...,1970-01-01,audio_open,2017-09-26 15:27:07,2017-09-26 15:31:22,650178.0,002735577520170926212651,BO-20150417020356403,NaN,LU,MP3
863775,863776,000000000007CE7F000000000009EBC20000015EBED061...,1970-01-01,audio_open,2017-09-26 15:31:21,2017-09-26 15:36:21,650178.0,002735577520170926212651,BO-20150417020356519,NaN,LU,MP3
863807,863808,000000000007CE7F000000000009EBC20000015EBED470...,1970-01-01,audio_open,2017-09-26 15:35:47,2017-09-26 15:41:21,650178.0,002735577520170926212651,BO-20150417020356385,NaN,LU,MP3
863827,863828,000000000007CE7F000000000009EBC20000015EBED87B...,1970-01-01,audio_open,2017-09-26 15:40:12,2017-09-26 15:46:22,650178.0,002735577520170926212651,BO-20150417020356400,NaN,LU,MP3
865020,865021,000000000007CE7F000000000009EBC20000015EBFDD8B...,1970-01-01,audio_open,2017-09-26 20:25:21,2017-09-26 20:31:21,650178.0,002735577520170926212651,BO-20150417020356427,NaN,LU,MP3
865021,865022,000000000007CE7F000000000009EBC20000015EBFDFA6...,1970-01-01,audio_open,2017-09-26 20:27:39,2017-09-26 20:31:21,650178.0,002735577520170926212651,BO-20150417020356415,NaN,LU,MP3
865022,865023,000000000007CE7F000000000009EBC20000015EBFE094...,1970-01-01,audio_open,2017-09-26 20:28:40,2017-09-26 20:31:21,650178.0,002735577520170926212651,BO-20150417020356433,NaN,LU,MP3

In [23]:
len(df['book_code'].unique())

11558

In [24]:
len(df['contents_code'].unique())

10121

In [42]:
user_item_df = df[['learner_id', 'book_code']]

In [44]:
user_item_df['learner_id'].value_counts()

417211.0    13224
342381.0    11911
404783.0    11626
388560.0    10352
639207.0     8826
503664.0     7501
339189.0     7431
419867.0     7262
480005.0     7169
430032.0     7081
453255.0     6361
441531.0     6300
310785.0     6226
192528.0     6022
509307.0     5715
492373.0     5545
472788.0     5323
650178.0     5137
472745.0     4863
637376.0     4748
585428.0     4730
398281.0     4572
445863.0     4151
336525.0     4104
640981.0     4077
252353.0     3921
403964.0     3893
502639.0     3712
259386.0     3700
637441.0     3697
            ...
377744.0        1
377825.0        1
546800.0        1
547295.0        1
156839.0        1
376879.0        1
43093.0         1
204499.0        1
107859.0        1
156800.0        1
304206.0        1
550357.0        1
156725.0        1
549626.0        1
204777.0        1
43414.0         1
548918.0        1
43472.0         1
156649.0        1
156611.0        1
548294.0        1
303906.0        1
376685.0        1
376779.0        1
547622.0        1
43669.0         1
376808.0        1
43694.0         1
156557.0        1
525958.0        1
Name: learner_id, Length: 264822, dtype: int64

In [46]:
learner = df[df['learner_id'] == 417211]
no_of_books = len(learner['book_code'].unique())
print(no_of_books)

65

In [47]:
all_books = len(learner['book_code'])
print(all_books)

13224

In [48]:
df1 = df.groupby(['learner_id','book_code']).size().reset_index().rename(columns={0:'count'})

In [2]:
df1.head()

NameError: name 'df1' is not defined

In [51]:
df1[df1['learner_id'] == 417211]

         learner_id             book_code  count
1837661    417211.0  BO-20150417020356763    206
1837662    417211.0  BO-20150417020356766    208
1837663    417211.0  BO-20150417020356769    212
1837664    417211.0  BO-20150417020356772    206
1837665    417211.0  BO-20150417020356775    211
1837666    417211.0  BO-20150417020356778    208
1837667    417211.0  BO-20150417020356781    209
1837668    417211.0  BO-20150417020356784    197
1837669    417211.0  BO-20150417020356787    208
1837670    417211.0  BO-20150417020356790    202
1837671    417211.0  BO-20150417020356793    196
1837672    417211.0  BO-20150417020356796    204
1837673    417211.0  BO-20150417020356802    211
1837674    417211.0  BO-20150417020356805    201
1837675    417211.0  BO-20150417020356808    208
1837676    417211.0  BO-20150417020356811    209
1837677    417211.0  BO-20150417020356814    201
1837678    417211.0  BO-20150417020356817    199
1837679    417211.0  BO-20150417020356821    206
1837680    417211.0  BO-20150417020356824    209
1837681    417211.0  BO-20150417020356827    213
1837682    417211.0  BO-20150417020356831    203
1837683    417211.0  BO-20150417020356833    211
1837684    417211.0  BO-20150417020356837    203
1837685    417211.0  BO-20150417020356840    211
1837686    417211.0  BO-20150417020356844    208
1837687    417211.0  BO-20150417020356847    209
1837688    417211.0  BO-20150417020356850    213
1837689    417211.0  BO-20150417020356853    207
1837690    417211.0  BO-20150417020356855    215
...             ...                   ...    ...
1837695    417211.0  BO-20150417020356914    204
1837696    417211.0  BO-20150417020356917    211
1837697    417211.0  BO-20150417020356920    203
1837698    417211.0  BO-20150417020356923    196
1837699    417211.0  BO-20150417020356926    212
1837700    417211.0  BO-20150417020356928    212
1837701    417211.0  BO-20150417020356931    207
1837702    417211.0  BO-20150417020356934    203
1837703    417211.0  BO-20150417020356940    203
1837704    417211.0  BO-20150417020356943    210
1837705    417211.0  BO-20150417020356946    212
1837706    417211.0  BO-20150417020356949    204
1837707    417211.0  BO-20150417020356952    204
1837708    417211.0  BO-20150417020356955    198
1837709    417211.0  BO-20150417020356958    209
1837710    417211.0  BO-20150417020356961    210
1837711    417211.0  BO-20150417020356965    214
1837712    417211.0  BO-20150417020356968    204
1837713    417211.0  BO-20150417020356971    205
1837714    417211.0  BO-20150417020356974    206
1837715    417211.0  BO-20150417020356980    214
1837716    417211.0  BO-20150417020356983    206
1837717    417211.0  BO-20150417020356986    207
1837718    417211.0  BO-20150417020356989    218
1837719    417211.0  BO-20150417020356992    200
1837720    417211.0  BO-20150417020356994    205
1837721    417211.0  BO-20150417020356997    200
1837722    417211.0  BO-20150417020357001    199
1837723    417211.0  BO-20150417020357004    205
1837724    417211.0  BO-20150417020357008    203

[64 rows x 3 columns]