In [1]:
import pandas as pd

In [ ]:
#df = pd.read_csv('data/bookclub_events.csv', parse_dates=['event_time', 'receipt_time'], dtype={'learner_id':int, 'contents_code': str, 'library_source' : str, 'media_fm' : str})
df1 = pd.read_csv('data/bookclub_events.csv', 
                 parse_dates=['event_time', 'receipt_time'], 
                 dtype={'learner_id':int, 'contents_code': str, 'library_source' : str, 'media_fm' : str}).drop_duplicates(['row_id'])

In [3]:
df.head()

,Unnamed: 0,row_id,trial_time,event_name,event_time,receipt_time,learner_id,session_id,book_code,contents_code,library_source,media_fm
0,1,000000000006C776000000000007BB900000015EA8E976...,1970-01-01,audio_close,2017-09-22 09:27:06,2017-09-22 09:35:31,506768,002715849020170922175432,BO-20150417020356855,NaN,NaN,NaN
1,2,000000000007D9E0000000000009FABD0000015EA8EA97...,1970-01-01,audio_close,2017-09-22 09:28:20,2017-09-22 09:35:35,654013,002736981720170922171206,BO-20150417020357257,NaN,NaN,NaN
2,3,00000000000035FA000000000007D79F0000015E99D03D...,1970-01-01,audio_close,2017-09-19 11:05:15,2017-09-19 11:14:48,513951,002717308720170919195740,BO-20170324112951543,NaN,NaN,NaN
3,4,0000000000006D730000000000009DAB0000015E8E2351...,1970-01-01,audio_close,2017-09-17 04:40:33,2017-09-20 11:05:45,40363,002328453220170917140834,BO-20170324112951470,NaN,NaN,NaN
4,5,0000000000006D730000000000009DAB0000015E8E2926...,1970-01-01,audio_close,2017-09-17 04:46:55,2017-09-20 11:05:50,40363,002328453220170917140834,BO-20170324112951476,NaN,NaN,NaN

In [4]:
df.shape

(23644617, 12)

In [5]:
no_of_row_ids = len(df['row_id'])
no_of_unique_row_ids = len(df['row_id'].unique())
print("No of row_ids : ", no_of_row_ids)
print("No of unique row_ids : ", no_of_unique_row_ids)
print("No of duplicate row_ids : ", no_of_row_ids - no_of_unique_row_ids)
df1 = df.drop_duplicates(['row_id'])
print("After Duplicates removed...")
no_of_row_ids = len(df1['row_id'])
no_of_unique_row_ids = len(df1['row_id'].unique())
print("No of row_ids : ", no_of_row_ids)
print("No of unique row_ids : ", no_of_unique_row_ids)
print("No of duplicate row_ids : ", no_of_row_ids - no_of_unique_row_ids)

No of row_ids :  23644617
No of unique row_ids :  23644461
No of duplicate row_ids :  156
After Duplicates removed...
No of row_ids :  23644461
No of unique row_ids :  23644461
No of duplicate row_ids :  0

In [6]:
null_learner_ids = df[df['learner_id'].isnull()]
no_of_null_learner_ids = len(null_learner_ids)
non_null_learner_ids = df[df['learner_id'].notnull()]
no_of_non_null_learner_ids = len(non_null_learner_ids)
print("No of learner_ids : ", len(df['learner_id']))
print("No of NULL learner_ids : ", no_of_null_learner_ids)
print("No of Non-NULL learner_ids : ", no_of_non_null_learner_ids)

print("After Duplicates removed...")

null_learner_ids = df1[df1['learner_id'].isnull()]
no_of_null_learner_ids = len(null_learner_ids)
non_null_learner_ids = df1[df1['learner_id'].notnull()]
no_of_non_null_learner_ids = len(non_null_learner_ids)
print("No of learner_ids : ", len(df1['learner_id']))
print("No of NULL learner_ids : ", no_of_null_learner_ids)
print("No of Non-NULL learner_ids : ", no_of_non_null_learner_ids)

No of learner_ids :  23644617
No of NULL learner_ids :  0
No of Non-NULL learner_ids :  23644617
After Duplicates removed...
No of learner_ids :  23644461
No of NULL learner_ids :  0
No of Non-NULL learner_ids :  23644461

In [7]:
null_book_codes = df[df['book_code'].isnull()]
no_of_null_book_codes = len(null_book_codes)
non_null_book_codes = df[df['book_code'].notnull()]
no_of_non_null_book_codes = len(non_null_book_codes)
print("No of Book Codes : ", len(df['book_code']))
print("No of NULL Book Codes : ", no_of_null_book_codes)
print("No of Non-NULL Book Codes : ", no_of_non_null_book_codes)

print("After Duplicates removed....")

null_book_codes = df1[df1['book_code'].isnull()]
no_of_null_book_codes = len(null_book_codes)
non_null_book_codes = df1[df1['book_code'].notnull()]
no_of_non_null_book_codes = len(non_null_book_codes)
print("No of Book Codes : ", len(df1['book_code']))
print("No of NULL Book Codes : ", no_of_null_book_codes)
print("No of Non-NULL Book Codes : ", no_of_non_null_book_codes)

No of Book Codes :  23644617
No of NULL Book Codes :  10136557
No of Non-NULL Book Codes :  13508060
After Duplicates removed....
No of Book Codes :  23644461
No of NULL Book Codes :  10136500
No of Non-NULL Book Codes :  13507961

In [10]:
grouped_df1 = df1.groupby(['learner_id','book_code']).size()

In [15]:
learner_book_df = grouped_df1.reset_index().rename(columns={0:'events_count'})

In [29]:
learner_book_df[learner_book_df['learner_id'] == 14130]

       learner_id             book_code  events_count
20407       14130  BO-20140726013445290             2
20408       14130  BO-20140726013450328             4
20409       14130  BO-20140726013450831             3
20410       14130  BO-20140726013522062             2
20411       14130  BO-20140726013631581             3
20412       14130  BO-20140726013637627             3
20413       14130  BO-20140726013656767             3
20414       14130  BO-20140726013708854             7
20415       14130  BO-20140726013715402             4
20416       14130  BO-20140726013719936             1
20417       14130  BO-20140726014130771             3
20418       14130  BO-20140726014502274             4
20419       14130  BO-20140726014502778             3
20420       14130  BO-20140726014504791             3
20421       14130  BO-20140726014656586             3
20422       14130  BO-20140726014734851             5
20423       14130  BO-20140726014735858             3
20424       14130  BO-20140726014742906             4
20425       14130  BO-20140726014745424             3
20426       14130  BO-20141030210040223             2
20427       14130  BO-20150417025554447             3
20428       14130  BO-20150417030603527             3
20429       14130  BO-20150417030605193             3
20430       14130  BO-20150417041515703             2
20431       14130  BO-20150417041515723             5
20432       14130  BO-20150417041516333             3
20433       14130  BO-20150420190232522             6
20434       14130  BO-20150420190232528             2
20435       14130  BO-20150420190232535             1
20436       14130  BO-20150420190232541             2
...           ...                   ...           ...
20438       14130  BO-20150420190235525            12
20439       14130  BO-20150420190235529             2
20440       14130  BO-20150420190235541             2
20441       14130  BO-20150420190235569             2
20442       14130  BO-20150420190235601            14
20443       14130  BO-20150420190235615             4
20444       14130  BO-20150420190235619            11
20445       14130  BO-20150420190235623             2
20446       14130  BO-20150420190235630            12
20447       14130  BO-20150420190236891             2
20448       14130  BO-20150420190236899             2
20449       14130  BO-20150728165838297             5
20450       14130  BO-20160530143321696             7
20451       14130  BO-20160530143321711             2
20452       14130  BO-20160927142407380             3
20453       14130  BO-20161128155716273             3
20454       14130  BO-20170224150632084             2
20455       14130  BO-20170224150632089             6
20456       14130  BO-20170224150632106             2
20457       14130  BO-20170224150632113             2
20458       14130  BO-20170224150632119             4
20459       14130  BO-20170224150632123             3
20460       14130  BO-20170224150632129             4
20461       14130  BO-20170224150632133             4
20462       14130  BO-20170224150632139             3
20463       14130  BO-20170224150632141             3
20464       14130  BO-20170224150632150             3
20465       14130  BO-20170224150632153             2
20466       14130  BO-20170424154817203             4
20467       14130  BO-20170627173920980             3

[61 rows x 3 columns]

In [24]:
df1[(df1['learner_id'] == 417211) & (df1['book_code'] == 'BO-20150417020356763')]

,Unnamed: 0,row_id,trial_time,event_name,event_time,receipt_time,learner_id,session_id,book_code,contents_code,library_source,media_fm
12798,12799,000000000004F0220000000000065DBB0000015EA56EB2...,1970-01-01,audio_close,2017-09-21 17:14:09,2017-09-21 17:19:56,417211,002685649720170921233629,BO-20150417020356763,NaN,NaN,NaN
14573,14574,000000000004F0220000000000065DBB0000015EA53D65...,1970-01-01,audio_close,2017-09-21 16:20:18,2017-09-21 16:29:54,417211,002685649720170921233629,BO-20150417020356763,NaN,NaN,NaN
16593,16594,000000000004F0220000000000065DBB0000015EA64773...,1970-01-01,audio_close,2017-09-21 21:10:54,2017-09-21 21:19:55,417211,002685649720170921233629,BO-20150417020356763,NaN,NaN,NaN
16832,16833,000000000004F0220000000000065DBB0000015E90CBCD...,1970-01-01,audio_close,2017-09-17 17:03:49,2017-09-17 17:12:46,417211,002685649720170918000654,BO-20150417020356763,NaN,NaN,NaN
17207,17208,000000000004F0220000000000065DBB0000015E90DEDB...,1970-01-01,audio_close,2017-09-17 17:24:38,2017-09-17 17:32:48,417211,002685649720170918000654,BO-20150417020356763,NaN,NaN,NaN
19832,19833,000000000004F0220000000000065DBB0000015EAAA439...,1970-01-01,audio_close,2017-09-22 17:30:43,2017-09-22 17:39:55,417211,002685649720170922232116,BO-20150417020356763,NaN,NaN,NaN
19968,19969,000000000004F0220000000000065DBB0000015EA6B39A...,1970-01-01,audio_close,2017-09-21 23:09:02,2017-09-21 23:15:42,417211,002685649720170921233629,BO-20150417020356763,NaN,NaN,NaN
20769,20770,000000000004F0220000000000065DBB0000015EAB818D...,1970-01-01,audio_close,2017-09-22 21:32:28,2017-09-22 21:39:56,417211,002685649720170922232116,BO-20150417020356763,NaN,NaN,NaN
21519,21520,000000000004F0220000000000065DBB0000015E91B110...,1970-01-01,audio_close,2017-09-17 21:14:14,2017-09-17 21:22:48,417211,002685649720170918000654,BO-20150417020356763,NaN,NaN,NaN
21920,21921,000000000004F0220000000000065DBB0000015EABCCEE...,1970-01-01,audio_close,2017-09-22 22:54:48,2017-09-22 23:00:28,417211,002685649720170922232116,BO-20150417020356763,NaN,NaN,NaN
24657,24658,000000000004F0220000000000065DBB0000015E913A88...,1970-01-01,audio_close,2017-09-17 19:04:46,2017-09-17 19:12:46,417211,002685649720170918000654,BO-20150417020356763,NaN,NaN,NaN
25591,25592,000000000004F0220000000000065DBB0000015EAC0316...,1970-01-01,audio_close,2017-09-22 23:53:57,2017-09-23 00:00:29,417211,002685649720170922232116,BO-20150417020356763,NaN,NaN,NaN
26273,26274,000000000004F0220000000000065DBB0000015EAA2C13...,1970-01-01,audio_close,2017-09-22 15:19:29,2017-09-22 15:25:02,417211,002685649720170922232116,BO-20150417020356763,NaN,NaN,NaN
27896,27897,000000000004F0220000000000065DBB0000015EAAE542...,1970-01-01,audio_close,2017-09-22 18:41:45,2017-09-22 18:49:55,417211,002685649720170922232116,BO-20150417020356763,NaN,NaN,NaN
28497,28498,000000000004F0220000000000065DBB0000015EAB568E...,1970-01-01,audio_close,2017-09-22 20:45:30,2017-09-22 20:54:55,417211,002685649720170922232116,BO-20150417020356763,NaN,NaN,NaN
36904,36905,000000000004F0220000000000065DBB0000015E91FB6B...,1970-01-01,audio_close,2017-09-17 22:35:27,2017-09-17 22:37:50,417211,002685649720170918000654,BO-20150417020356763,NaN,NaN,NaN
40092,40093,000000000004F0220000000000065DBB0000015E9FD7CA...,1970-01-01,audio_close,2017-09-20 15:11:13,2017-09-20 15:19:52,417211,002685649720170920232033,BO-20150417020356763,NaN,NaN,NaN
45833,45834,000000000004F0220000000000065DBB0000015EA0AAF8...,1970-01-01,audio_close,2017-09-20 19:01:53,2017-09-20 19:09:50,417211,002685649720170920232033,BO-20150417020356763,NaN,NaN,NaN
47216,47217,000000000004F0220000000000065DBB0000015EA1ABCB...,1970-01-01,audio_close,2017-09-20 23:42:24,2017-09-21 01:04:52,417211,002685649720170920232033,BO-20150417020356763,NaN,NaN,NaN
51978,51979,000000000004F0220000000000065DBB0000015EA1174B...,1970-01-01,audio_close,2017-09-20 21:00:12,2017-09-20 21:09:51,417211,002685649720170920232033,BO-20150417020356763,NaN,NaN,NaN
53526,53527,000000000004F0220000000000065DBB0000015EA16217...,1970-01-01,audio_close,2017-09-20 22:21:54,2017-09-20 22:29:57,417211,002685649720170920232033,BO-20150417020356763,NaN,NaN,NaN
56713,56714,000000000004F0220000000000065DBB0000015EA00B69...,1970-01-01,audio_close,2017-09-20 16:07:36,2017-09-20 16:14:55,417211,002685649720170920232033,BO-20150417020356763,NaN,NaN,NaN
58868,58869,000000000004F0220000000000065DBB0000015EA05AF8...,1970-01-01,audio_close,2017-09-20 17:34:30,2017-09-20 17:39:54,417211,002685649720170920232033,BO-20150417020356763,NaN,NaN,NaN
59566,59567,000000000004F0220000000000065DBB0000015EA0987E...,1970-01-01,audio_close,2017-09-20 18:41:42,2017-09-20 18:49:53,417211,002685649720170920232033,BO-20150417020356763,NaN,NaN,NaN
59643,59644,000000000004F0220000000000065DBB0000015EA0E08F...,1970-01-01,audio_close,2017-09-20 20:00:25,2017-09-20 20:09:49,417211,002685649720170920232033,BO-20150417020356763,NaN,NaN,NaN
67568,67569,000000000004F0220000000000065DBB0000015E87F86A...,1970-01-01,audio_close,2017-09-15 23:55:58,2017-09-16 00:07:48,417211,002685649720170916000010,BO-20150417020356763,NaN,NaN,NaN
68383,68384,000000000004F0220000000000065DBB0000015E9C9885...,1970-01-01,audio_close,2017-09-20 00:03:15,2017-09-20 00:10:11,417211,002685649720170919225649,BO-20150417020356763,NaN,NaN,NaN
70256,70257,000000000004F0220000000000065DBB0000015E9C60EB...,1970-01-01,audio_close,2017-09-19 23:02:31,2017-09-19 23:10:14,417211,002685649720170919225649,BO-20150417020356763,NaN,NaN,NaN
84577,84578,000000000004F0220000000000065DBB0000015EA4F145...,1970-01-01,audio_close,2017-09-21 14:57:09,2017-09-21 15:04:58,417211,002685649720170921233629,BO-20150417020356763,NaN,NaN,NaN
91438,91439,000000000004F0220000000000065DBB0000015EA64164...,1970-01-01,audio_close,2017-09-21 21:04:17,2017-09-21 21:09:57,417211,002685649720170921233629,BO-20150417020356763,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
745728,745729,000000000004F0220000000000065DBB0000015EB03857...,1970-01-01,audio_open,2017-09-23 19:30:36,2017-09-23 19:39:55,417211,002685649720170923214926,BO-20150417020356763,NaN,LU,MP3
746311,746312,000000000004F0220000000000065DBB0000015EB0E9DC...,1970-01-01,audio_open,2017-09-23 22:44:30,2017-09-23 22:50:08,417211,002685649720170923214926,BO-20150417020356763,NaN,LU,MP3
750500,750501,000000000004F0220000000000065DBB0000015EAEF8CA...,1970-01-01,audio_open,2017-09-23 13:41:34,2017-09-23 13:50:06,417211,002685649720170923214926,BO-20150417020356763,NaN,LU,MP3
755384,755385,000000000004F0220000000000065DBB0000015EAF4B30...,1970-01-01,audio_open,2017-09-23 15:11:34,2017-09-23 15:19:59,417211,002685649720170923214926,BO-20150417020356763,NaN,LU,MP3
757425,757426,000000000004F0220000000000065DBB0000015EB0857D...,1970-01-01,audio_open,2017-09-23 20:54:52,2017-09-23 20:59:56,417211,002685649720170923214926,BO-20150417020356763,NaN,LU,MP3
757525,757526,000000000004F0220000000000065DBB0000015EB0A89D...,1970-01-01,audio_open,2017-09-23 21:33:14,2017-09-23 21:39:59,417211,002685649720170923214926,BO-20150417020356763,NaN,LU,MP3
772032,772033,000000000004F0220000000000065DBB0000015EB46EE4...,1970-01-01,audio_open,2017-09-24 15:08:40,2017-09-24 15:15:07,417211,002685649720170924234115,BO-20150417020356763,NaN,LU,MP3
772840,772841,000000000004F0220000000000065DBB0000015EB55C88...,1970-01-01,audio_open,2017-09-24 19:28:14,2017-09-24 19:35:00,417211,002685649720170924234115,BO-20150417020356763,NaN,LU,MP3
774215,774216,000000000004F0220000000000065DBB0000015EB49F7A...,1970-01-01,audio_open,2017-09-24 16:01:44,2017-09-24 16:09:59,417211,002685649720170924234115,BO-20150417020356763,NaN,LU,MP3
774876,774877,000000000004F0220000000000065DBB0000015EB583E6...,1970-01-01,audio_open,2017-09-24 20:11:14,2017-09-24 20:20:01,417211,002685649720170924234115,BO-20150417020356763,NaN,LU,MP3
777818,777819,000000000004F0220000000000065DBB0000015EB53100...,1970-01-01,audio_open,2017-09-24 18:40:41,2017-09-24 18:50:01,417211,002685649720170924234115,BO-20150417020356763,NaN,LU,MP3
780201,780202,000000000004F0220000000000065DBB0000015EB61987...,1970-01-01,audio_open,2017-09-24 22:54:40,2017-09-24 23:00:30,417211,002685649720170924234115,BO-20150417020356763,NaN,LU,MP3
785214,785215,000000000004F0220000000000065DBB0000015EB5F8EB...,1970-01-01,audio_open,2017-09-24 22:19:03,2017-09-24 22:25:12,417211,002685649720170924234115,BO-20150417020356763,NaN,LU,MP3
786030,786031,000000000004F0220000000000065DBB0000015EB644CD...,1970-01-01,audio_open,2017-09-24 23:41:56,2017-09-24 23:50:13,417211,002685649720170924234115,BO-20150417020356763,NaN,LU,MP3
791703,791704,000000000004F0220000000000065DBB0000015EB4ECD3...,1970-01-01,audio_open,2017-09-24 17:26:13,2017-09-24 17:35:01,417211,002685649720170924234115,BO-20150417020356763,NaN,LU,MP3
817364,817365,000000000004F0220000000000065DBB0000015EB970E8...,1970-01-01,audio_open,2017-09-25 14:28:58,2017-09-25 14:31:33,417211,002685649720170925223340,BO-20150417020356763,NaN,LU,MP3
818184,818185,000000000004F0220000000000065DBB0000015EB9BB5A...,1970-01-01,audio_open,2017-09-25 15:50:17,2017-09-25 15:56:19,417211,002685649720170925223340,BO-20150417020356763,NaN,LU,MP3
818943,818944,000000000004F0220000000000065DBB0000015EBAB051...,1970-01-01,audio_open,2017-09-25 20:17:51,2017-09-25 20:21:22,417211,002685649720170925223340,BO-20150417020356763,NaN,LU,MP3
821495,821496,000000000004F0220000000000065DBB0000015EBB6FA2...,1970-01-01,audio_open,2017-09-25 23:46:49,2017-09-25 23:51:33,417211,002685649720170925223340,BO-20150417020356763,NaN,LU,MP3
824026,824027,000000000004F0220000000000065DBB0000015EB991FC...,1970-01-01,audio_open,2017-09-25 15:05:06,2017-09-25 15:11:20,417211,002685649720170925223340,BO-20150417020356763,NaN,LU,MP3
824977,824978,000000000004F0220000000000065DBB0000015EBA37A3...,1970-01-01,audio_open,2017-09-25 18:06:02,2017-09-25 18:11:22,417211,002685649720170925223340,BO-20150417020356763,NaN,LU,MP3
828662,828663,000000000004F0220000000000065DBB0000015EBA1304...,1970-01-01,audio_open,2017-09-25 17:26:02,2017-09-25 17:31:21,417211,002685649720170925223340,BO-20150417020356763,NaN,LU,MP3
835897,835898,000000000004F0220000000000065DBB0000015EBA7485...,1970-01-01,audio_open,2017-09-25 19:12:32,2017-09-25 19:16:23,417211,002685649720170925223340,BO-20150417020356763,NaN,LU,MP3
836340,836341,000000000004F0220000000000065DBB0000015EBAEF17...,1970-01-01,audio_open,2017-09-25 21:26:25,2017-09-25 21:31:20,417211,002685649720170925223340,BO-20150417020356763,NaN,LU,MP3
836579,836580,000000000004F0220000000000065DBB0000015EBB28F8...,1970-01-01,audio_open,2017-09-25 22:29:38,2017-09-25 22:31:48,417211,002685649720170925223340,BO-20150417020356763,NaN,LU,MP3
860865,860866,000000000004F0220000000000065DBB0000015EBE9CCA...,1970-01-01,audio_open,2017-09-26 14:35:00,2017-09-26 14:36:40,417211,002685649720170926232110,BO-20150417020356763,NaN,LU,MP3
861640,861641,000000000004F0220000000000065DBB0000015EBF0B95...,1970-01-01,audio_open,2017-09-26 16:36:01,2017-09-26 16:41:24,417211,002685649720170926232110,BO-20150417020356763,NaN,LU,MP3
864043,864044,000000000004F0220000000000065DBB0000015EBF083A...,1970-01-01,audio_open,2017-09-26 16:32:21,2017-09-26 16:36:24,417211,002685649720170926232110,BO-20150417020356763,NaN,LU,MP3
864578,864579,000000000004F0220000000000065DBB0000015EBF7EDD...,1970-01-01,audio_open,2017-09-26 18:41:56,2017-09-26 18:46:24,417211,002685649720170926232110,BO-20150417020356763,NaN,LU,MP3
864762,864763,000000000004F0220000000000065DBB0000015EBF9EB9...,1970-01-01,audio_open,2017-09-26 19:16:44,2017-09-26 19:21:23,417211,002685649720170926232110,BO-20150417020356763,NaN,LU,MP3

In [27]:
book_learner_df = df.groupby(['book_code','learner_id']).size()

In [26]:
book_learner_df

                    book_code  learner_id   0
0        BO-20140726013445290       14130   2
1        BO-20140726013445290       38953   6
2        BO-20140726013445290       61192   2
3        BO-20140726013445290       71254   4
4        BO-20140726013445290       86943   3
5        BO-20140726013445290       94170   4
6        BO-20140726013445290       96282   1
7        BO-20140726013445290      106100   4
8        BO-20140726013445290      111332   3
9        BO-20140726013445290      116146   3
10       BO-20140726013445290      124931   5
11       BO-20140726013445290      127436   3
12       BO-20140726013445290      128869   3
13       BO-20140726013445290      131379   4
14       BO-20140726013445290      139734   3
15       BO-20140726013445290      143837   2
16       BO-20140726013445290      149077   4
17       BO-20140726013445290      151224   3
18       BO-20140726013445290      152667   3
19       BO-20140726013445290      155826   3
20       BO-20140726013445290      158995   3
21       BO-20140726013445290      162973   4
22       BO-20140726013445290      166540   2
23       BO-20140726013445290      171668   4
24       BO-20140726013445290      172078   3
25       BO-20140726013445290      176931   9
26       BO-20140726013445290      184980   3
27       BO-20140726013445290      192940   3
28       BO-20140726013445290      208145   3
29       BO-20140726013445290      212662   2
...                       ...         ...  ..
3236528  BO-20170911134228336      660627   2
3236529  BO-20170911134228336      660635   4
3236530  BO-20170911134228336      661032   2
3236531  BO-20170911134228336      661246   2
3236532  BO-20170911134228336      661286   2
3236533  BO-20170911134228336      661398   4
3236534  BO-20170911134228336      661470   2
3236535  BO-20170911134228336      661738   6
3236536  BO-20170911134228336      662073   6
3236537  BO-20170911134228336      662282   2
3236538  BO-20170911134228336      662426   2
3236539  BO-20170911134228336      662554   4
3236540  BO-20170911134228336      663267   2
3236541  BO-20170911134228336      663268  10
3236542  BO-20170911134228336      663629   2
3236543  BO-20170911134228336      663787   2
3236544  BO-20170911134228336      663926   2
3236545  BO-20170911134228336      664251   4
3236546  BO-20170911134228336      664267   2
3236547  BO-20170911134228336      664450   2
3236548  BO-20170911134228336      664757   2
3236549  BO-20170911134228336      665170  10
3236550  BO-20170911134228336      665239   2
3236551  BO-20170911134228336      665693   1
3236552  BO-20170911134228336      665738   2
3236553  BO-20170911134228336      666212   4
3236554  BO-20170911134228336      666456   2
3236555  BO-20170911134228336      666491   2
3236556  BO-20170911134245946      616575   2
3236557  BO-20170925145257161      610843   3

[3236558 rows x 3 columns]

In [28]:
df1[(df1['learner_id'] == 14130) & (df1['book_code'] == 'BO-20140726013445290')]

,Unnamed: 0,row_id,trial_time,event_name,event_time,receipt_time,learner_id,session_id,book_code,contents_code,library_source,media_fm
2307952,2307953,0000000000002F5100000000000037320000015E8880F7...,1970-01-01,book_close,2017-09-16 02:25:07,2017-09-16 02:33:41,14130,002196301520170916112327,BO-20140726013445290,CT-20140726013445290,NaN,NaN
10811130,10811131,0000000000002F5100000000000037320000015E8880CC...,1970-01-01,book_open,2017-09-16 02:24:56,2017-09-16 02:33:40,14130,002196301520170916112327,BO-20140726013445290,CT-20140726013445290,LP,PDFA