In [1]:
import pandas as pd

In [26]:
df = pd.read_csv('~/recommender_system/books_recommender/preprocessed_metadata/learner_books_info_close_events.csv')

/home/rraju/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2698: DtypeWarning: Columns (11,13,16,19,21,25,31,35,39,48,49,52,56,64,65,66,67,74,80,82) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [27]:
df.shape

(614897, 89)

In [28]:
valid_ages_df = df[(df['age'] >= 5.0) & (df['age'] <= 20.0)]

In [29]:
valid_ages_df.shape

(596780, 89)

In [30]:
learners = valid_ages_df['learner_id'].unique()
books = valid_ages_df['book_code'].unique()
no_of_learners = len(learners)
no_of_books = len(books)

In [31]:
no_of_learners, no_of_books

(82075, 9061)

In [32]:
user_items_df = valid_ages_df.groupby(['learner_id']).agg({'book_code': 'count'})
user_items_df.rename(columns={'book_code' : 'no_of_books'}, inplace=True)
user_items_df.head()

            no_of_books
learner_id
5.0                   2
31.0                  1
61.0                 12
181.0                18
456.0                 1

In [42]:
user_items_df['no_of_books'].value_counts()

1      21884
2      13340
3       8770
4       6427
5       4675
6       3733
7       2818
8       2427
9       1883
10      1661
11      1333
12      1204
13       943
14       912
15       766
16       748
17       590
18       587
19       507
20       477
22       400
21       380
24       325
23       322
26       289
25       265
28       242
27       202
30       198
32       190
       ...
162        2
145        2
171        1
161        1
133        1
322        1
256        1
166        1
188        1
219        1
155        1
176        1
154        1
261        1
247        1
240        1
153        1
151        1
198        1
187        1
178        1
149        1
147        1
230        1
146        1
182        1
137        1
144        1
119        1
210        1
Name: no_of_books, Length: 171, dtype: int64

In [45]:
user_min_items_df = user_items_df[user_items_df['no_of_books'] >=20]
user_min_items_df.reset_index(inplace=True)
user_min_items_df.shape

(6867, 2)

In [46]:
user_min_items_df.head()

   learner_id  no_of_books
0       579.0           23
1       842.0           42
2      2295.0           92
3      2425.0           27
4      2870.0           33

In [47]:
user_min_items_df['no_of_books'].sum()

269901

In [39]:
df[df['learner_id'] == 579.0]

,learner_id,book_code,events_count,first_access_time,learner_birthday,learner_gender,dob,age,Unnamed: 0_BM,BOOK_META_CODE,...,VALID_TYPE,VALID_EDTIME,MYTODAY_EXBT_CODE,JSON_DATA,SUB_BOOK_CODE,CRE_DTIME_BI,UPD_DTIME_BI,CRE_ID_BI,UPD_ID_BI,PAY_GROUP_CODE
34673,579.0,BO-20161226152837329,2,2017-09-21 10:43:49,2000-04-25 15:00:00,male,2000-04-25 15:00:00,17.0,19074,BM-20161226152837329,...,NaN,NaN,NaN,NaN,NaN,2016-12-26 15:28:46,2017-05-10 15:24:46,BULK,ME-20140820170723648,PG004
55524,579.0,BO-20140726014638460,1,2017-09-15 07:16:46,2000-04-25 15:00:00,male,2000-04-25 15:00:00,17.0,2220,BM-20140726022029687,...,NaN,NaN,NaN,NaN,NaN,2014-07-26 2:29:55,2015-11-20 11:03:58,BULK,ME-20140820170723648,PG001
57410,579.0,BO-20140726014641482,1,2017-09-14 09:38:42,2000-04-25 15:00:00,male,2000-04-25 15:00:00,17.0,2431,BM-20140726022037963,...,NaN,NaN,NaN,"{""VIEWMODEINFO"":""HD"",""AUDIOBOOKTP"":""C"",""VIEWFU...",NaN,2014-07-26 2:29:55,2017-01-04 10:32:14,BULK,ME-20160527174138665,PG001
57513,579.0,BO-20140726014856420,1,2017-09-25 04:09:25,2000-04-25 15:00:00,male,2000-04-25 15:00:00,17.0,1004,BM-20140726021941057,...,NaN,NaN,NaN,"{""VIEWMODEINFO"":""HD"",""AUDIOBOOKTP"":""C"",""VIEWFU...",NaN,2014-07-26 2:29:56,2016-12-28 10:24:37,BULK,ME-20160527174138665,PG001
57611,579.0,BO-20140726014924121,1,2017-09-14 13:19:35,2000-04-25 15:00:00,male,2000-04-25 15:00:00,17.0,1773,BM-20140726022011619,...,NaN,NaN,NaN,"{""VIEWMODEINFO"":""HD"",""AUDIOBOOKTP"":""C"",""VIEWFU...",NaN,2014-07-26 2:29:56,2017-01-06 16:42:29,BULK,ME-20160527174138665,PG001
58033,579.0,BO-20140726014958361,1,2017-09-21 13:17:57,2000-04-25 15:00:00,male,2000-04-25 15:00:00,17.0,1333,BM-20140726021953839,...,NaN,NaN,NaN,"{""VIEWMODEINFO"":""HD"",""AUDIOBOOKTP"":""C"",""VIEWFU...",NaN,2014-07-26 2:29:56,2017-01-11 13:53:41,BULK,ME-20160527174138665,PG001
59090,579.0,BO-20141030210059461,1,2017-09-14 12:58:47,2000-04-25 15:00:00,male,2000-04-25 15:00:00,17.0,4262,BM-20141030210059461,...,NaN,NaN,NaN,NaN,NaN,2014-10-30 21:04:21,2015-05-18 14:19:08,BULK,ME-20141209171110839,PG001
59131,579.0,BO-20141030210100473,3,2017-09-21 13:19:32,2000-04-25 15:00:00,male,2000-04-25 15:00:00,17.0,4264,BM-20141030210100473,...,NaN,NaN,NaN,NaN,NaN,2014-10-30 21:04:21,2015-02-05 16:58:28,BULK,ME-20141209171110839,PG001
59148,579.0,BO-20141030210104509,1,2017-09-14 13:03:54,2000-04-25 15:00:00,male,2000-04-25 15:00:00,17.0,4272,BM-20141030210104509,...,NaN,NaN,NaN,NaN,NaN,2014-10-30 21:04:21,2015-05-03 22:32:57,BULK,ME-20141209171110839,PG001
59165,579.0,BO-20141030210105519,2,2017-09-21 13:30:47,2000-04-25 15:00:00,male,2000-04-25 15:00:00,17.0,4274,BM-20141030210105519,...,NaN,NaN,NaN,NaN,NaN,2014-10-30 21:04:21,2015-05-03 22:33:22,BULK,ME-20141209171110839,PG001
59174,579.0,BO-20141030210109050,1,2017-09-14 13:01:32,2000-04-25 15:00:00,male,2000-04-25 15:00:00,17.0,4281,BM-20141030210109050,...,NaN,NaN,NaN,NaN,NaN,2014-10-30 21:04:21,2015-01-16 20:42:15,BULK,ME-20140813175600962,PG001
59214,579.0,BO-20141030210110061,1,2017-09-21 13:25:56,2000-04-25 15:00:00,male,2000-04-25 15:00:00,17.0,4283,BM-20141030210110061,...,NaN,NaN,NaN,NaN,NaN,2014-10-30 21:04:21,2015-02-05 16:58:56,BULK,ME-20141209171110839,PG001
59230,579.0,BO-20141030210130767,1,2017-09-14 09:39:04,2000-04-25 15:00:00,male,2000-04-25 15:00:00,17.0,4324,BM-20141030210130767,...,NaN,NaN,NaN,NaN,NaN,2014-10-30 21:04:22,2014-10-30 21:04:22,BULK,BULK,PG001
59267,579.0,BO-20141105115954925,1,2017-09-14 11:57:49,2000-04-25 15:00:00,male,2000-04-25 15:00:00,17.0,4571,BM-20141105115954925,...,NaN,NaN,NaN,NaN,NaN,2014-11-05 12:06:04,2015-12-17 9:58:15,BULK,ME-20140820170723648,PG001
59365,579.0,BO-20141229105403512,1,2017-09-14 09:19:26,2000-04-25 15:00:00,male,2000-04-25 15:00:00,17.0,5595,BM-20141229105403512,...,NaN,NaN,NaN,NaN,NaN,2014-12-29 10:54:13,2015-08-17 15:55:45,BULK,ME-20140820170723648,PG002
62733,579.0,BO-20150417041516340,1,2017-09-15 07:30:13,2000-04-25 15:00:00,male,2000-04-25 15:00:00,17.0,7444,BM-20150417041516340,...,NaN,NaN,NaN,NaN,NaN,2015-04-17 4:37:38,2015-04-23 14:50:44,BULK,BULK,PG002
62922,579.0,BO-20150417041516350,1,2017-09-15 07:33:03,2000-04-25 15:00:00,male,2000-04-25 15:00:00,17.0,7447,BM-20150417041516350,...,NaN,NaN,NaN,NaN,NaN,2015-04-17 4:37:38,2015-04-23 14:50:44,BULK,BULK,PG002
63049,579.0,BO-20150417050359409,1,2017-09-21 10:43:38,2000-04-25 15:00:00,male,2000-04-25 15:00:00,17.0,8074,BM-20150417050359409,...,NaN,NaN,NaN,"{""VIEWMODEINFO"":""HD"",""AUDIOBOOKTP"":""C"",""VIEWFU...",NaN,2015-04-17 5:13:21,2016-12-16 10:01:41,BULK,ME-20140820170723648,PG001
67270,579.0,BO-20150417050359606,1,2017-09-15 07:10:15,2000-04-25 15:00:00,male,2000-04-25 15:00:00,17.0,8099,BM-20150417050359606,...,NaN,NaN,NaN,NaN,NaN,2015-04-17 5:13:21,2015-10-02 15:53:19,BULK,ME-20140820170723648,PG001
68004,579.0,BO-20160329135654679,1,2017-09-15 07:22:53,2000-04-25 15:00:00,male,2000-04-25 15:00:00,17.0,14372,BM-20160329135654679,...,NaN,NaN,NaN,NaN,NaN,2016-03-29 13:56:57,2016-03-29 14:45:18,BULK,ME-20140820170723648,PG001
68048,579.0,BO-20161213162026018,1,2017-09-14 09:41:33,2000-04-25 15:00:00,male,2000-04-25 15:00:00,17.0,18919,BM-20161213162026018,...,NaN,NaN,NaN,NaN,NaN,2016-12-13 16:20:27,2016-12-13 16:22:50,BULK,ME-20140820170723648,PG001
68119,579.0,BO-20161213162026025,1,2017-09-14 09:39:57,2000-04-25 15:00:00,male,2000-04-25 15:00:00,17.0,18920,BM-20161213162026025,...,NaN,NaN,NaN,NaN,NaN,2016-12-13 16:20:27,2016-12-13 16:23:39,BULK,ME-20140820170723648,PG001
68214,579.0,BO-20170329141707798,1,2017-09-14 09:36:44,2000-04-25 15:00:00,male,2000-04-25 15:00:00,17.0,20386,BM-20170329141707798,...,NaN,NaN,NaN,"{""VIEWMODEINFO"":""HD"",""AUDIOBOOKTP"":""C"",""VIEWFU...",NaN,2017-03-29 14:17:08,2017-03-29 14:53:08,BULK,ME-20160527174138665,PG001