In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('model/Knn_Basic/kfold_experiments/kfold_exp_1/predictions.csv')

In [3]:
df.head()

,uid,iid,r_ui,est,details,err,no_of_items_rated_by_user,no_of_users_rated_item
0,-138194,13694,3.0,2.680000,"{'actual_k': 50, 'was_impossible': False}",0.320000,5,188
1,-138194,13745,2.0,2.240000,"{'actual_k': 50, 'was_impossible': False}",0.240000,5,528
2,-138194,13789,3.0,2.345755,"{'actual_k': 38, 'was_impossible': False}",0.654245,5,57
3,-138194,13845,1.0,2.654902,"{'actual_k': 50, 'was_impossible': False}",1.654902,5,311
4,-138194,13969,1.0,2.569231,"{'actual_k': 50, 'was_impossible': False}",1.569231,5,343

In [4]:
df['err'].describe()

count    5250.000000
mean        0.609952
std         0.397076
min         0.000000
25%         0.340000
50%         0.520000
75%         0.742982
max         1.955079
Name: err, dtype: float64

In [6]:
best_predictions = df.sort_values(by='err')[:10]
worst_predictions = df.sort_values(by='err')[-10:]

In [7]:
best_predictions

,uid,iid,r_ui,est,details,err,no_of_items_rated_by_user,no_of_users_rated_item
3260,-100779,296,2.0,2.000000,"{'actual_k': 50, 'was_impossible': False}",0.000000e+00,6,1067
2594,-105299,546,2.0,2.000000,"{'actual_k': 50, 'was_impossible': False}",0.000000e+00,22,688
4563,-95854,604,2.0,2.000000,"{'actual_k': 50, 'was_impossible': False}",0.000000e+00,6,1738
3977,-97957,13409,2.0,2.000000,"{'actual_k': 50, 'was_impossible': False}",0.000000e+00,5,1163
575,-113263,546,2.0,2.000000,"{'actual_k': 50, 'was_impossible': False}",0.000000e+00,13,688
4752,-94540,1185,2.0,2.000000,"{'actual_k': 10, 'was_impossible': False}",0.000000e+00,12,58
2157,-106786,11754,3.0,3.000000,"{'actual_k': 50, 'was_impossible': False}",0.000000e+00,14,99
2437,-105908,722,2.0,2.000000,"{'actual_k': 50, 'was_impossible': False}",0.000000e+00,5,870
2410,-106009,8520,3.0,3.000000,"{'actual_k': 50, 'was_impossible': False}",8.881784e-16,59,188
3609,-99470,2031,2.0,1.999026,"{'actual_k': 50, 'was_impossible': False}",9.735913e-04,6,177

In [8]:
worst_predictions

,uid,iid,r_ui,est,details,err,no_of_items_rated_by_user,no_of_users_rated_item
583,-113254,14054,1.0,2.828235,"{'actual_k': 29, 'was_impossible': False}",1.828235,7,340
2531,-105592,7827,1.0,2.855484,"{'actual_k': 19, 'was_impossible': False}",1.855484,6,112
1114,-110765,9203,1.0,2.857513,"{'actual_k': 14, 'was_impossible': False}",1.857513,6,22
1442,-109196,8494,1.0,2.860000,"{'actual_k': 50, 'was_impossible': False}",1.860000,24,530
5135,-92216,13547,1.0,2.860000,"{'actual_k': 50, 'was_impossible': False}",1.860000,5,315
2445,-105897,331,1.0,2.880000,"{'actual_k': 50, 'was_impossible': False}",1.880000,22,264
2877,-101914,13312,1.0,2.880000,"{'actual_k': 50, 'was_impossible': False}",1.880000,15,271
2807,-103045,11747,1.0,2.900000,"{'actual_k': 50, 'was_impossible': False}",1.900000,6,147
1514,-109002,11714,1.0,2.924567,"{'actual_k': 21, 'was_impossible': False}",1.924567,20,25
155,-118456,11894,1.0,2.955079,"{'actual_k': 19, 'was_impossible': False}",1.955079,5,24