In [1]:
import pandas as pd

In [5]:
df = pd.read_csv('top_n_recs/BaselineOnly_ALS_Default_top_n_recs.csv')
df.shape

(470900, 3)

In [6]:
df.head()

   learner_id  media_id  like_rating
0     -141004     11655       2.9355
1     -141004      8485       2.8887
2     -141004     11656       2.8862
3     -141004     11661       2.8822
4     -141004      7372       2.8819